.bootbox .modal-dialog {
    margin: 0 0 0 0;
    width: 100%;
    font-family: 'Montserrat', serif;
}

.bootbox .modal-header {
    border-bottom: 0;
    color: #06577a;
    font-size: 14;
}

.bootbox .modal-title {
    color: #06577a;
    font-size: 20px;
}

.bootbox #login_submit, #forgot_password {
	color: #06577a;
	font-size: 19px;
}
.modal-title{
	margin-top:0px !important;
	padding: 24px;
    padding-left: 46px;
}
.bootbox .social-link {
        width: 40%;
    margin-left: 26%;
    border-top: 2px solid lightgrey;
    padding: 5px 5px 5px 5px;
}

.bootbox .social-title {
    margin: 10px;
    color: #06577a;
    font-size: 23px;
}

.bootbox .social-buttons {
    margin: 15px 0 0 58px;
}

.bootbox, 
.bootbox.fade.in{
	position: fixed;
 	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity:0.9; // I ADDED THIS LINE
}

/*.bootbox.modal {
    pointer-events: all;
}

.bootbox.modal-backdrop {
   pointer-events: all;
}*/


#facebook-icon {
    background:url(../images/fb-icon.png);
}
#free{
	
	background: url(../images/icon/Free.png)  no-repeat fixed center;
	
}
#linkedin-icon {
    background:url(../images/linkedin-icon.png);
}

#google-plus-icon {
    background:url(../images/google-plus-icon.jpg);
}

.button-separation {
	background-repeat:no-repeat !important;
    background-size:cover !important;
    width:53px; 
  	height:53px;
  	margin: 0 70px 0 0 !important;
    border: none;
}

input::-webkit-input-placeholder {
color: lightgrey !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: lightgrey !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: lightgrey !important;  
}
 
input:-ms-input-placeholder {  
color: lightgrey !important;  
}