@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('../fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'), 
  		 url('../fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.woff') format('woff'), 
		 url('../fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.ttf')  format('truetype'), 
		 url('../fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edmondsans-Bold';
  src: url('../fonts/Edmondsans-Bold/Edmondsans-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Edmondsans-Bold/Edmondsans-Bold.otf')  format('opentype'),
		url('../fonts/Edmondsans-Bold/Edmondsans-Bold.woff') format('woff'), 
		url('../fonts/Edmondsans-Bold/Edmondsans-Bold.ttf')  format('truetype'), 
		url('../fonts/Edmondsans-Bold/Edmondsans-Bold.svg#Edmondsans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edmondsans-Medium';
  src: url('../fonts/Edmondsans-Medium/Edmondsans-Medium.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Edmondsans-Medium/Edmondsans-Medium.woff') format('woff'), 
		url('../fonts/Edmondsans-Medium/Edmondsans-Medium.ttf')  format('truetype'), 
		url('../fonts/Edmondsans-Medium/Edmondsans-Medium.svg#Edmondsans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/iconfont/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/iconfont/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), 
  		url('../fonts/iconfont/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), 
		url('../fonts/iconfont/fontawesome-webfont.woff?v=4.6.3') format('woff'), 
		url('../fonts/iconfont/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), 
		url('../fonts/iconfont/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-linkedin:before {
  content: "\f0e1";
}

img{border:none;}
*{padding:0; margin:0;}
*{box-sizing:border-box;}
.clear{clear:both;}
a{ outline:none !important;}



.wraper{width:100%; float:left; position:relative;}
.topnav{width:100%; position:absolute; top:0; left:0; z-index:999;}
.topnav > .inrnavi{width:90%; margin:40px auto 0 auto;}

.topnav > .inrnavi > .mainlogo{width:auto; float:left;}
.topnav > .inrnavi > .navi{width:auto; float:right;}
.topnav > .inrnavi > .navi > ul > li{width:auto; float:left; list-style:none; padding:0 10px; color:#06577a; font:16px/50px 'Edmondsans-Medium';}
.topnav > .inrnavi > .navi > ul > li > a{color:#06577a; text-decoration:none;}
.topnav > .inrnavi > .navi > ul > li > a:hover{color:#f4a835 !important;}
.topnav > .inrnavi > .navi > ul > li > a.selected{color:#f4a835 !important;}

.bann{width:100%; position:relative; z-index:1; float:left; overflow:hidden;}
.ban_content{width:550px; height:auto; margin:auto; position:absolute; top:40%; left:-271px; margin-left:14%; z-index:4; text-align:center; color:#fff;}
.ban_content > h2{font:74px/60px 'AvenirNextLTPro-Demi'; text-transform:uppercase; letter-spacing:3px; padding:0 0 5px 0;}
.ban_content > h2.size{ font-size:7em; padding-bottom:40px;}
.ban_content > p{width:70%; font:22px 'AvenirNextLTPro-Demi'; text-transform:uppercase; letter-spacing:3px; margin:auto; padding:0 0 50px 0;}
.ban_content a{display:block;}
.ban_content img{width:250px;}

.ban_content a.btnfirst span{ width:auto; height:auto; background:#faa425; text-align:center; color:#fff; font:30px 'Edmondsans-Bold';  text-transform:uppercase; padding:10px 30px;}

.bannbg01{background:url(../images/fullimage1.jpg); background-repeat:no-repeat; background-size:cover;}
.bannbg02{background:url(../images/fullimage2.jpg); background-repeat:no-repeat; background-size:cover;}
.bannbg03{background:url(../images/fullimage3.jpg); background-repeat:no-repeat; background-size:cover;}
.bannbg04{background:url(../images/fullimage4.jpg); background-repeat:no-repeat; background-size:cover;}

.bannbg05{background:url(../images/employer/employ-banner/1.jpg); background-repeat:no-repeat; background-size:cover;}
.bannbg06{background:url(../images/employer/employ-banner/2.jpg); background-repeat:no-repeat; background-size:cover;}
.bannbg07{background:url(../images/employer/employ-banner/3.jpg); background-repeat:no-repeat; background-size:cover;}
.bannbg08{background:url(../images/employer/employ-banner/4.jpg); background-repeat:no-repeat; background-size:cover;}


.whatisfstjob{width:100%; height:auto; float:left; position:relative; z-index:2;}
.whtfst_bg{background:url(../images/part2bg.jpg); background-repeat:no-repeat; background-size:cover;}
.whatisfstjob > h2{width:80%; margin:auto; text-align:center;  font:30px 'Edmondsans-Bold';  text-transform:uppercase; color:#f4a835; letter-spacing:1.5px;}
.whatisfstjob > p{width:70%; margin:auto; font:16px/24px 'Edmondsans-Medium'; padding:10px 0; text-transform:uppercase; color:#f4a835; letter-spacing:1.5px;}
#whtfst_job .item{width:100%; height:430px; float:left;}
.whatisfstjob > .inrwhatisfst{width:70%; height:430px; margin:auto; position:relative;}
.inrwht_cont{width:600px; height:auto; background:rgba(255,255,255,.9); position:absolute;top:80px; left:-300px; z-index:5; margin-left:50%; overflow:hidden;}
.inrwht_cont img{width:100%;}
.inrwht_cont .item{color:#1c3d5e; padding:30px 20px;}
.inrwht_cont .item img{width:auto;}
.inrwht_cont .item h3{text-align:center; font:20px 'Edmondsans-Bold'; text-transform:uppercase; letter-spacing:1.5px; padding:20px 0; color:#06577a;}
.inrwht_cont .item p{font:14px/24px 'Edmondsans-Bold';  letter-spacing:0.5px; color:#06577a;}
.inrwhatisfst .getitnow{width:100%; float:left; margin:15px 0 0 0}
.inrwhatisfst .getitnow > a{width:250px; background:#f4a835; color:#1c3d5e; padding:15px 15px 15px 49px; margin:auto; display:block; text-align:center; font:24px 'Edmondsans-Bold'; letter-spacing:1.5px;}

.owl-theme .owl-controls{margin-top:0; text-align:center; position:absolute; right:-50px; top:0; z-index:8;}
.owl-pagination{width:20px;}
.owl-pagination:after{content:''; width:0; height:410px; border-left:2px solid #faa425; left:13px; position:absolute; top:10px; z-index:-1;}
.owl-theme .owl-controls .owl-page{margin:43px 0; float:left;}
.owl-theme .owl-controls .owl-page:first-child{margin-top:0;}
.owl-theme .owl-controls .owl-page:last-child{margin-bottom:0;}
.whtisfstjob_img01{background:url(../images/whtfstjob.jpg); background-repeat:no-repeat; background-size:cover; width:100%; height:400px;}
.whtisfstjob_img02{background:url(../images/whtfstjob1.jpg); background-repeat:no-repeat; background-size:cover; width:100%; height:400px;}
.whtisfstjob_img03{background:url(../images/whtfstjob2.jpg); background-repeat:no-repeat; background-size:cover; width:100%; height:400px;}
.whtisfstjob_img04{background:url(../images/whtfstjob3.jpg); background-repeat:no-repeat; background-size:cover; width:100%; height:400px;}
.whtisfstjob_img05{background:url(../images/whtfstjob4.jpg); background-repeat:no-repeat; background-size:cover; width:100%; height:400px;}


.who_isfstjob{width:100%; height:auto; float:left; position:relative; z-index:2;}
.who_isfstbg{background:url(../images/who_is_fstjobz_bg.jpg); background-repeat:no-repeat; background-size:cover;}
.who_isfstjob > .inr_whofstjob{width:70%; height:auto; margin:auto;}
.who_isfstjob > .inr_whofstjob > h2{font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#fff;}
.who_isfstjob > .inr_whofstjob > p{font:16px/24px 'Edmondsans-Medium'; padding:30px 0 10px 0; text-transform:uppercase; color:#fff; letter-spacing:1.5px;}
.who_isfstjob > .inr_whofstjob > ul{width:100%; float:left; margin:50px 0 0 0;}
.who_isfstjob > .inr_whofstjob > ul > li{width:30%; float:left; height:350px; background:#054f71; padding:40px;}
.who_isfstjob > .inr_whofstjob > ul > li:nth-child(2){margin:0 5%;}
.who_isfstjob > .inr_whofstjob > ul > li img{transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease; -ms-transition:all .5s ease;}
.who_isfstjob > .inr_whofstjob > ul > li h3{font:18px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#f6a225; margin:20px 0; letter-spacing:1px;}
.who_isfstjob > .inr_whofstjob > ul > li p{font:16px/22px 'Edmondsans-Medium'; color:#fff; letter-spacing:0.5px;}
.who_isfstjob > .inr_whofstjob > ul > li:hover img{transform:scale(1.3);}



.perfectJob{width:100%; height:auto; float:left; position:relative; z-index:2; overflow:hidden;}
.perfect_jobbg{background:url(../images/perfectJob_bgimg01.jpg); background-repeat:no-repeat; background-size:cover;}
.inr_per_Job{width:60%; height:100%; margin:auto;}
.inr_perbg{background:url(../images/perfectJob_bgimg02.png); background-repeat:no-repeat; background-position:center 170px; background-size:250px;}
.inr_per_Job > h2{font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#fff;}


.comncont{width:90%; text-align:center; height:130px; margin:20px auto 0 auto;}
.comnarow_bg{background-image:url(../images/ready_lftarow.png), url(../images/ready_rightarow.png); background-repeat:no-repeat; background-position:10% bottom, 90% bottom; background-size:70px;}
.comncont_bottom{width:90%; text-align:center; height:auto; margin:0 auto 0 auto; padding:30px 0 0 0;}
.comnarow_bottom_bg{background-image:url(../images/buttom_ready_lftarow.png), url(../images/buttom_ready_rightarow.png); background-repeat:no-repeat; background-position:10% 50px, 90% 50px; background-size:80px;}
.comncont_bottom img,
.comncont img{transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; -ms-transition:all 0.5s ease; }
.comncont_bottom p,
.comncont p{width:250px; color:#fff; margin:auto; font:13px 'Edmondsans-Bold'; text-transform:uppercase; letter-spacing:1.5px; padding:10px 0; }
.iconbox ul{width:100%; float:left;}
.iconbox ul li{width:50%; float:left; margin-top:20px;}
.iconbox ul li .comnbox{width:180px; text-align:center; text-transform:uppercase; }
.iconbox ul li .comnbox img{transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; -ms-transition:all 0.5s ease; }
.iconbox ul li .comnbox p{width:100%; color:#fff; margin:auto; font:13px 'Edmondsans-Bold'; letter-spacing:1.5px; padding:10px 0;}
.iconbox ul li:nth-child(1) .comnbox{float:left;}
.iconbox ul li:nth-child(2) .comnbox{float:right;}
.iconbox ul li:nth-child(3) .comnbox{float:left;margin-top:30px;}
.iconbox ul li:nth-child(4) .comnbox{float:right;margin-top:30px;}
.comncont_bottom:hover img,
.comncont:hover img{transform:scale(1.2);}
.iconbox .comnbox:hover img{transform:scale(1.2);}


.r_u_ready{width:100%; height:auto; float:left; }
.ready_bg{background:url(../images/home_r_u_ready/rdy_4_fstjob_bg.jpg); background-repeat:no-repeat; background-size:cover;}
.r_u_ready > .inr_ruready{width:80%; margin:auto; }
.r_u_ready > .inr_ruready > h2{font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#fff;}
.r_u_ready > .inr_ruready > p{text-align:center;  font:16px/26px 'Edmondsans-Medium'; margin:20px 0; text-transform:uppercase; color:#fff; letter-spacing:1.5px;}

.main_jobbox{width:24%; height:230px; float:left; overflow:hidden; margin:4px .5%; position:relative;transform-style: preserve-3d;
  transition: all 1.0s linear;}
.jobImg{width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(244,175,74,1);/* transform:rotateY(0deg); -moz-transform:rotateY(0deg); -webkit-transform:rotateY(0deg);*/ opacity:1; transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease;}
.jobImg img{width:100%;}
.jobImg p{width:90%; height:100%; float:left; margin:15% 5% 0 5%; text-align:left;  font:16px 'Edmondsans-Medium'; padding:20px 0; text-transform:uppercase; color:#fff; letter-spacing:1.5px; position:relative;}

.job_cont{width:100%; height:100%; position:absolute; top:0;  left:0; z-index:2; transform:rotateY(0deg); -moz-transform:rotateY(0deg); -webkit-transform:rotateY(0deg); opacity:1; background:rgba(244,175,74,1); transition:all .5s ease; -moz-transition:all .5s ease; -webkit-transition:all .5s ease;}
.job_cont img{width:100%;}
.job_cont p{width:90%; height:100%; float:left; margin:15% 5% 0 5%; text-align:left;  font:16px 'Edmondsans-Medium'; padding:20px 0; text-transform:uppercase; color:#fff; letter-spacing:1.5px; position:relative;}


/*.vertical{ display:table; position:absolute; width:100%; height:100%;}
.vertical_middle{display: table-cell; vertical-align: middle; width: 100%; height: 100%; float:none !important;}*/


.our_vision{width:100%; height:auto; float:left; }
.rvision_bg{background:url(../images/ourbg.jpg); background-repeat:no-repeat; background-size:cover;}
.our_vision > .inr_r_vision{width:70%; margin:auto;}
.our_vision > .inr_r_vision > h2{width:250px; margin:auto; outline:2px solid #fff; padding:8px 15px; font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#fff;}
.our_vision > .inr_r_vision > p{text-align:center;  font:16px/24px 'Edmondsans-Medium'; margin:20px 0 0 0; text-transform:uppercase; color:#fff; letter-spacing:1.5px;}

.infopart{width:100%; float:left;}
.infobg{background:url(../images/part4bg.jpg); background-repeat:no-repeat; background-size:cover;}
.inrInfo{width:80%; margin:auto;}
.inrInfo > h2{margin:60px 0 20px 0; font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#fff;}
.inrInfo ul.blgpost{width:100%; float:left; margin:20px 0;}
.inrInfo ul.blgpost > li{width:50%; height:250px; float:left; overflow:hidden; position:relative; margin-bottom: 8px; padding-right: 8px;}
.inrInfo ul.blgpost > li:nth-child(2){float:right;}
.inrInfo ul.blgpost > li .postimg{width:100%; height:100%; float:left; overflow:hidden;}
.inrInfo ul.blgpost > li .postimg img{width:100%; height:250px;}
.inrInfo ul.blgpost > li .postcont{width:100%; height:0px; position:absolute; bottom:0; left:0; z-index:5; background:#054f6f; transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-webkit-transition:all .5s ease;}
.inrInfo ul.blgpost > li .postcont h3{font:18px 'Edmondsans-Bold'; padding:8px 30px; color:#fff;}
.inrInfo ul.blgpost > li .postcont p{font:14px 'Edmondsans-Medium'; padding:0px 30px; color:#fff;}
.inrInfo ul.blgpost > li:hover .postcont{height:100px;}


.informantion_cent{width:100%; height:auto; float:left; position:relative;}
.info_bg{background:url(../images/part4bg.jpg); background-repeat:no-repeat; background-size:cover;}
.cont_form{width:45%; margin:-150px auto 0 auto;}
.cont_form h2{padding:0 0 10px 0; font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#fff;}
.cont_form p{width:100%; float:left; background:rgba(0,0,0,.3); margin:15px 0 0 0;}
.cont_form p > input{width:100%; height:auto; float:left; padding:10px 20px; background:none; border:none; color:#fff; font:16px 'Edmondsans-Medium';}
.cont_form p > textarea{width:100%; height:120px; float:left; padding:10px 20px; background:none; border:none; resize:none; color:#fff; font:16px 'Edmondsans-Medium';}
.cont_form p:last-child{width:200px; margin:30px auto; float:none; display:flex; text-transform:uppercase; outline:3px solid #fff;}
.cont_form p button{width:100%;font:18px 'Edmondsans-Medium'; height:auto; padding:8px 0; cursor:pointer; letter-spacing:1.5px; background:none; color:#fff; border:none;}
#msgshow{ color:#fff; font:16px 'Edmondsans-Medium';}

input::-webkit-input-placeholder{color:#fff !important; font-size:16px;}
input:-moz-placeholder{color:#fff !important; font-size:16px;}
input::-moz-placeholder{color:#fff !important; font-size:16px;}
input:-ms-input-placeholder{color:#fff !important; font-size:16px;}

textarea::-webkit-input-placeholder{color:#fff; font-size:18px;}
textarea:-moz-placeholder{color:#fff; font-size:18px;}
textarea::-moz-placeholder{color:#fff; font-size:18px;}
textarea:-ms-input-placeholder{color:#fff; font-size:18px;}


.comfoot{width:100%; float:left; background:#faa425; position:absolute; z-index:5; bottom:0; left:0; padding:20px 0;}
.comfoot > .inrfoot{width:250px; margin:auto; color:#fff; position:relative;}
.comfoot > .inrfoot span{width:100%; float: left;}
.comfoot > .inrfoot span img{width:250px;}
.comfoot > .inrfoot .socilicon{width:100%; float:left; margin:10px 0 0 0;}
.comfoot > .inrfoot .socilicon p{width:auto; float:left;  font:24px 'Edmondsans-Bold';}
.comfoot > .inrfoot .socilicon ul li{width:auto; float:left; margin:0 0 0 16px;}
.comfoot > .inrfoot .socilicon ul li img{width:30px;}

.weblink{position:absolute; right:10px; top:100px; font-size:11px; color:#fff;}
.weblink a{color:#fff;}


/*PRELOADER ############################*/
#preloader{position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background-color:#fff; z-index:9999;}
#status{width:auto; height:auto; position:absolute; left:48%; top:45%; background-repeat:no-repeat; background-position:center;}
/* Loading animation: */

/***
///DILIP
***/
.employ_second_bg{background:url(../images/employer/employsec/second-bg.jpg); background-repeat:no-repeat; background-size:cover;}
.benefit_isfstjob{width:100%; height:auto; float:left; position:relative; z-index:2;}
.benefit_isfstjob > .inr_benefstjob{width:80%; height:auto; margin:auto;}
.benefit_isfstjob > .inr_benefstjob > h2{font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#06577a;}
.benefit_isfstjob > .inr_benefstjob > ul{width:100%; float:left; margin:50px 0 0 0;}
.benefit_isfstjob > .inr_benefstjob > ul > li{width:30%; float:left; height:auto; text-align:center; padding:35px 0px;}
.benefit_isfstjob > .inr_benefstjob > ul > li:nth-child(2){margin:0 5%;}
.benefit_isfstjob > .inr_benefstjob > ul > li:nth-child(5){margin:0 5%;}
.benefit_isfstjob > .inr_benefstjob > ul > li img{transition:all .2s ease; -moz-transition:all .2s ease; -webkit-transition:all .2s ease; -ms-transition:all .2s ease; display:block; margin:0 auto;}
.benefit_isfstjob > .inr_benefstjob > ul > li p{font:16px/22px 'Edmondsans-Medium'; text-align:center; color:#fff; letter-spacing:1px; padding-top:30px; text-transform:uppercase;}
.benefit_isfstjob > .inr_benefstjob > ul > li:hover img{transform:scale(1.2);}

.VedioInterview{width:100%; float:left; height:auto; background:#06577a;}
.VedioIMG{ width:50%; float:left; height:auto; overflow:hidden; position:relative;}
.VedioIMG iframe{width:560px; height:315px; margin:auto; position:absolute;}
.InterViewText{ width:50%; float:left; height:auto; background:#06577a;}
.InterViewText > .innertext{ width:80%; margin:0 auto; height:auto; padding:60px 0px;}
.InterViewText > .innertext > h3{font:30px 'Edmondsans-Bold'; text-align:left; text-transform:uppercase; color:#fff; padding-bottom:12px;}
.InterViewText > .innertext > span{font:20px 'Edmondsans-Bold'; text-align:left; text-transform:uppercase; color:#fff;}
.InterViewText > .innertext > .border_bott{ width:20%; float:left; height:auto; padding:60px 0px; border-bottom:1px solid #fff;}
.bx-wrapper .bx-viewport ul.bxslider li .InnertextSlide{ width:80%; float:none; height:auto; padding:20px 0px;}
.bx-wrapper .bx-viewport ul.bxslider li .InnertextSlide h4{font:20px 'Edmondsans-Bold'; text-align:left; text-transform:uppercase; color:#fff; padding-bottom:18px;}
.bx-wrapper .bx-viewport ul.bxslider li .InnertextSlide p{font:17px 'Edmondsans-Medium'; text-align:left; line-height:28px; color:#fff; letter-spacing:2px;}

.whats_more{background:url(../images/employer/employwhats/whats-bg.jpg); background-repeat:no-repeat; background-size:cover;}
.whats_gride{ width:80%; height:auto; margin:auto;}
.whats_gride .whats_inner_grid{ width:100%; float:left; height:auto; padding:10px 0px;}
.whats_gride .whats_inner_grid h2{font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#06577a;}
.whats_gride .whats_inner_grid p{text-align:center;  font:16px/26px 'Edmondsans-Medium'; margin:20px 0; text-transform:uppercase; color:#06577a; letter-spacing:1.5px;}
.whats_gride .whats_inner_grid ul li{ width:30%; float:left; height:auto; display:inline-block;}
.whats_gride .whats_inner_grid ul li:nth-child(2){margin:0 5%;}
.whats_gride .whats_inner_grid ul li .Licontent{ width:100%; float:left; height:auto; padding:10px 0px;}
.whats_gride .whats_inner_grid ul li .Licontent img{ margin:0 auto; display:block; transition:all .2s ease; -moz-transition:all .2s ease; -webkit-transition:all .2s ease; -ms-transition:all .2s ease;}
.whats_gride .whats_inner_grid ul li .Licontent h5{font:25px 'Edmondsans-Medium'; text-align:center; text-transform:uppercase; color:#fff; letter-spacing:1px; padding:30px 0px 5px;}
.whats_gride .whats_inner_grid ul li .Licontent p{text-align:center; font:14px/23px 'Edmondsans-Medium'; color:#fff; letter-spacing:1px; margin:0px; text-transform:capitalize;}
.whats_gride .whats_inner_grid ul li .Licontent img:hover{transform:scale(1.1);}

.Clients_bg{background:url(../images/employer/employclients/clients-bg.jpg); background-repeat:no-repeat; background-size:cover;}.whats_grid{ width:70%; height:auto; margin:auto;}
.clients_grid{ width:70%; height:auto; margin:auto;}
.clients_grid .clients_inner_grid{ width:100%; float:left; height:auto; padding:10px 0px;}
.clients_grid .clients_inner_grid h2{font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#faa425;}
.clients_grid .clients_inner_grid p{text-align:center;  font:16px/26px 'Edmondsans-Medium'; margin:20px 0; text-transform:uppercase; color:#faa425; letter-spacing:1.5px;}
.clients_grid_lrftrightpart{ width:100%; float:left; height:auto;}
.clients_grid_lrftrightpart .clients_Left_text{ width:50%; float:left; height:auto; padding:20px 0px;}
.clients_grid_lrftrightpart .clients_Left_text .Left_content{ width:100%; float:left; height:auto; padding:85px 0px;}
.clients_grid_lrftrightpart .clients_Left_text .Left_content ul{ width:80%; margin:0 auto; padding:0px 0 0 125px;}
.clients_grid_lrftrightpart .clients_Left_text .Left_content ul li{font:20px 'Edmondsans-Medium'; margin:15px 0; text-transform:uppercase; color:#fff; letter-spacing:1.5px; background:url(../images/employer/employclients/li-bg.png) scroll 0px 0px no-repeat; padding:0 38px; line-height:40px;}

.clients_grid_lrftrightpart .clients_Right_IMG{ width:50%; float:left; height:auto;}
.clients_grid_lrftrightpart .clients_Right_IMG img{ width:auto; float:right;}

.Request_bg{background:url(../images/employer/employrequest/request-bg.jpg); background-repeat:no-repeat; background-size:cover;}


.Media_bg{background:url(../images/mediabanner.jpg); background-repeat:no-repeat; background-size:cover; width:100%; float:left; height:auto;}
.Media_grid{ width:80%; height:auto; margin:auto; display:block;}
.Media_grid .Media_Inner_grid{ width:100%; float:left; height:auto; padding:10px 0px;}
.Media_grid .Media_Inner_grid .bx-wrapper{ margin:20px auto !important;}
.Media_grid .Media_Inner_grid .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{ width:100%; text-align:center}
.Media_grid .Media_Inner_grid .bx-wrapper .bx-pager.bx-default-pager a{ background:#fff;}
.Media_grid .Media_Inner_grid .bx-wrapper .bx-pager.bx-default-pager a:hover,.Media_grid .Media_Inner_grid .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#000;}
.Media_grid .Media_Inner_grid .bx-wrapper .bx-controls-direction a {position: absolute; top: 50%; margin-top: -16px; outline: 0; width: 32px; height: 32px;    text-indent: -9999px; z-index: 9999;}
.Media_grid .Media_Inner_grid .bx-wrapper .bx-prev {background: rgba(0, 0, 0, 0) url("../images/controls.png") no-repeat 0 -32px; left: -43px;}
.Media_grid .Media_Inner_grid .bx-wrapper .bx-next {background: rgba(0, 0, 0, 0) url("../images/controls.png") no-repeat -43px -32px; right:-43px;}
.Media_grid .Media_Inner_grid h4{font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#fff;}
.Media_grid .Media_Inner_grid .InnerDivMedia{ width:22%; float:left; height:auto; padding:5px; margin:15px;}
.Media_grid .Media_Inner_grid .InnerDivMedia a{ display:block; width:100%; float:left; color:#fff; margin:0 auto;}
.Media_grid .Media_Inner_grid .InnerDivMedia img{ max-width:100%; max-height:100%; display:block; margin:0 auto;}
.Media_grid .Media_Inner_grid .InnerDivMedia h3{font:17px 'Edmondsans-Medium'; text-align:center; width:100%; float:left; padding:20px; color:#fff;}

/**
**MOBILE**
**/

.Media_gridMOB{ width:90%; height:auto; margin:auto; display:none;}
.Media_gridMOB .Media_Inner_gridMOB{ width:100%; float:left; height:auto; padding:10px 0px;}
.Media_gridMOB .Media_Inner_gridMOB .bx-wrapper{ margin:20px auto !important;}
.Media_gridMOB .Media_Inner_gridMOB .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{ width:100%; text-align:center}
.Media_gridMOB .Media_Inner_gridMOB .bx-wrapper .bx-pager.bx-default-pager a{ background:#fff;}
.Media_gridMOB .Media_Inner_gridMOB .bx-wrapper .bx-pager.bx-default-pager a:hover,.Media_gridMOB .Media_Inner_grid .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#faa425;}
.Media_gridMOB .Media_Inner_gridMOB .bx-wrapper .bx-controls-direction a{ width:40px;}
.Media_gridMOB .Media_Inner_gridMOB .bx-wrapper .bx-prev,.Media_gridMOB .Media_Inner_gridMOB .bx-wrapper .bx-next{ top:48px;}
.Media_gridMOB .Media_Inner_gridMOB h4{font:30px 'Edmondsans-Bold'; text-align:center; text-transform:uppercase; color:#fff; padding-top:20px;}
.Media_gridMOB .Media_Inner_gridMOB .InnerDivMedia{ width:22%; float:left; height:auto; padding:5px; margin:15px;}
.Media_gridMOB .Media_Inner_gridMOB .InnerDivMedia a{ display:block; width:100%; float:left; color:#fff; margin:0 auto;}
.Media_gridMOB .Media_Inner_gridMOB .InnerDivMedia img{ max-width:100%; max-height:100%; display:block; margin:0 auto;}
.Media_gridMOB .Media_Inner_gridMOB .InnerDivMedia h3{font:17px 'Edmondsans-Medium'; text-align:center; width:100%; float:left; padding:20px; color:#fff;}

@media screen and (max-width: 1400px) {
    .ban_content {
      margin-left: 18%;
    }
}