/* cyrillic-ext */
@font-face {
  font-family: 'edmondsans';
  font-style: normal;
  font-weight: 400;
  src: local('edmondsans'), local('edmondsans-Regular'), url(ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
