h1 {
  color: #63B8FF;
  text-align: center; }

.progress-circle-small {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #c0ed90; }

.progress-circle-small:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: colorload 2s;
  animation: colorload 2s; }

.progress-circle-small span {
  font-size: 1.5rem;
  color: #6CC70A;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  z-index: 1; }

.progress-circle-small span:after {
  content: "%";
  font-weight: bold;
  color: #6CC70A; }

.progress-circle.progress-small-0:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(90deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-1:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(93.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-2:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(97.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-3:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(100.8deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-4:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(104.4deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-5:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(108deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-6:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(111.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-7:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(115.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-8:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(118.8deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-9:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(122.4deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-10:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(126deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-11:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(129.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-12:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(133.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-13:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(136.8deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-14:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(140.4deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-15:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(129.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-16:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(133.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-17:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(136.8deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-18:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(140.4deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-19:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(144deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-20:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(151.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-21:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(158.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-22:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(161.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-23:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(165.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-24:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(169.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-25:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(180deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-26:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(183.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-27:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(187.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-28:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(190.8deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-29:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(194.4deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-30:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(198deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-31:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(201.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-32:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(205.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-33:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(208.8deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-34:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(212.4deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-35:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(216deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-40:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(234deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-36:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(219.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-37:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(223.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-38:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(226.8deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-39:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(230.4deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-41:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(237.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-42:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(241.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-43:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(244.8deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-44:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(248.4deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-45:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(252deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-46:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(255.6deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-47:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(259.2deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-48:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(262.8deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-49:after {
  background-image: linear-gradient(90deg, #c0ed90 50%, transparent 50%, transparent), linear-gradient(266.4deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-50:after {
  background-image: linear-gradient(-90deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-51:after {
  background-image: linear-gradient(-86.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-52:after {
  background-image: linear-gradient(-82.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-53:after {
  background-image: linear-gradient(-79.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-54:after {
  background-image: linear-gradient(-75.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-55:after {
  background-image: linear-gradient(-72deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-56:after {
  background-image: linear-gradient(-68.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-57:after {
  background-image: linear-gradient(-64.8deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-58:after {
  background-image: linear-gradient(-61.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-59:after {
  background-image: linear-gradient(-57.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-60:after {
  background-image: linear-gradient(-54deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-61:after {
  background-image: linear-gradient(-50.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-62:after {
  background-image: linear-gradient(-46.8deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-63:after {
  background-image: linear-gradient(-43.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-64:after {
  background-image: linear-gradient(-39.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-65:after {
  background-image: linear-gradient(-36deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-66:after {
  background-image: linear-gradient(-32.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-67:after {
  background-image: linear-gradient(-28.8deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-68:after {
  background-image: linear-gradient(-25.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-69:after {
  background-image: linear-gradient(-21.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-70:after {
  background-image: linear-gradient(-18deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-71:after {
  background-image: linear-gradient(-14.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-72:after {
  background-image: linear-gradient(-10.8deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-73:after {
  background-image: linear-gradient(-7.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-74:after {
  background-image: linear-gradient(-3.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-75:after {
  background-image: linear-gradient(0deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-76:after {
  background-image: linear-gradient(3.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-77:after {
  background-image: linear-gradient(7.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-78:after {
  background-image: linear-gradient(10.8deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-79:after {
  background-image: linear-gradient(14.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-80:after {
  background-image: linear-gradient(18deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-81:after {
  background-image: linear-gradient(21.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-82:after {
  background-image: linear-gradient(25.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-83:after {
  background-image: linear-gradient(28.8deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-84:after {
  background-image: linear-gradient(32.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-85:after {
  background-image: linear-gradient(36deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-86:after {
  background-image: linear-gradient(39.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-87:after {
  background-image: linear-gradient(43.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-88:after {
  background-image: linear-gradient(46.8deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-89:after {
  background-image: linear-gradient(50.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-90:after {
  background-image: linear-gradient(54deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-91:after {
  background-image: linear-gradient(57.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-92:after {
  background-image: linear-gradient(61.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-93:after {
  background-image: linear-gradient(64.8deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-94:after {
  background-image: linear-gradient(68.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-95:after {
  background-image: linear-gradient(72deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-96:after {
  background-image: linear-gradient(75.6deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-97:after {
  background-image: linear-gradient(79.2deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-98:after {
  background-image: linear-gradient(82.8deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-99:after {
  background-image: linear-gradient(86.4deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

.progress-circle.progress-small-100:after {
  background-image: linear-gradient(90deg, #6CC70A 50%, transparent 50%, transparent), linear-gradient(270deg, #6CC70A 50%, #c0ed90 50%, #c0ed90); }

@-webkit-keyframes colorload {
  0% {
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    transform: rotate(360deg); } }

/*# sourceMappingURL=progress-circle.css.map */
