body{
    font-family:  RobotoCondensed !important;
}
#datepick1, #datepick2 {
    cursor: pointer;
}
.required-field:after 
{ 
    content:" *";
    color: red;
}
#uploadImageName{
    height: 111px;
    margin: 2% 0 0 20%;
    border: 1px solid;
    display: none;
}
#coprorateImageName {
    height: 111px;
    margin: 2% 0 0 20%;
    border: 1px solid;
    display: block;
}
select {
    background: white!important;
    color: #999999 !important;
}
#searchDropDown option {
    width:10px!important;
}
#searchDropDown *
{

}
option.dropOption {

}
table th.sort-header:after {
    margin: 8px 0px 0px 0px!important;
}
.sortable th.descend:after{
    content: "\25B2";
}
.sortable th.ascend:after{
    content: "\25BC";
}

th.headerSortUp span {
    background: url("../image/asc.gif") right center no-repeat;
    padding-right: 17px;
}

th.headerSortDown span {
    background: url("../image/desc.gif") right center no-repeat;
    padding-right: 17px;
}

th span {
    padding-right: 17px;
}

.frgt_pass a{
    color: white;
}
.save_btn {float:left!important;
           margin-top: 0px !important;
}
.userImageUpload {
    position: absolute;
    margin: 4px 0;
    opacity: 0;
    width: 148px;
    height: 148px;
    z-index: 20;
}
select.ui-datepicker-year {
    background: #e78f08!important;
}
.image-white-bg {
    /*   background: white!important;*/
}
.search_box {
    padding-bottom:10px!important;
}
.th-location {
    width: 10% !important;
}
.replciate {
    width:18%;
    margin-left:10px;
}

.service_content ul.service_content_last_list li{ display:inline-block; font-size:20px; width:38px; height:38px; line-height:38px; border:0px; }
.service_content ul.service_content_last_list li a{ color:#333333; padding:0px; text-align:center; display:block; border:0px;  }
.service_content ul.service_content_last_list li a:hover{ color:#fff; border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; background:#0072dc }
.response_img img{ max-width: 100%; }
.service_content .service_content_last_list{ text-align:center; padding:10px 0 70px; }
ul.service_content_last_list  li.pagination-last-list{padding:0 20px 0 0px; cursor:pointer; text-indent:-9999px; margin-left:5px;  }
.pagi_img{display: -webkit-inline-box;}
.pagi_img a img{display: -webkit-inline-box;}
.service_content ul.service_content_last_list li{margin:0px!important;}
h1{font-size:32px!important;}
.acu_bt a {
    text-decoration: none;
    color: #fff;
}
.sel_opt {
    font-size:15px;
    width:33% !important;
    padding-left: 9px !important;
}
#sorting td a {color: #303030!important; }
#sorting td a:hover {color: #777!important; }
.prev-page {
    cursor:pointer;
}
.cross-search{
    position: absolute;
    margin: 6% 0 0 67%;
    font-size: 20px;
    color: #777;
    cursor:pointer;
}
.cross-search-candidate { 
    position: absolute;
    margin: 6% 0 0 67%;
    font-size: 20px;
    color: #777;
    cursor:pointer;
}
.question-file{
    opacity: 0;
    margin: -33PX 0PX;
    width: 98%;
    height: 107%;
    padding: 0PX;
    position: absolute;
    cursor:pointer;
}
.question-file1{
    opacity: 0;
    margin: -33PX 0PX;
    width: 98%;
    height: 107%;
    padding: 0PX;
    position: absolute;
    cursor:pointer;
}
.question-file2{
    opacity: 0;
    margin: -33PX 0PX;
    width: 98%;
    height: 107%;
    padding: 0PX;
    position: absolute;
    cursor:pointer;
}
.btn_upload {
    cursor: pointer;
}
.browse-section {
    cursor: pointer;
}
.question-video {
    margin: 53px 0px 0px 0px;
}
.tab-content a{
    color: #333;
}
.my-question-file{
    opacity: 0;
    margin: -33PX 0PX;
    width: 98%;
    height: 107%;
    padding: 0PX;
    position: absolute;
    cursor:pointer;
}
.del-question {
/*    background-color: #f9a727;
    color: #FFF;
    border: none;
    width: 19px;
    border-radius: 14px;*/
    color: #f9a727;
    border: none;
    width: 60px;
    background: none;
    font-size: 21px;
}
.add-opacity {
    opacity:0;
}
.top-head-table td{
    width: 10% !important;
}
.btn-q-add a {
 color: white;
 text-decoration: none;
}
.question-option {
    margin-left: 1px!important;
}
.answer-check-assessment {
    padding-left: 62px!important;
}
.row-answer-assessment{
    margin-left: -77px;
    padding: 10px 0px;
}.question-bank-table {
    margin-bottom: 0px !important;
}
.video-col {
    width: 40% !important;
}
