@charset "utf-8";
/* CSS Document */

.header_bg{ background:url(../image/login_bg.png); background-size:cover;}
.logo_padd{padding-top:20px; padding-bottom:20px;}
.video_padd{padding-top:20px; padding-bottom:60px;}
.chk_bx{width: 65px;}
.chk_bx input[type=checkbox]{display:none;}
.chk_bx input[type=checkbox] + label{ background:url(../image/shortlisted_deactive.png) no-repeat; height: 60px;
   width: 60px; display:inline-block; padding: 0 0 0 0px;}
.chk_bx input[type=checkbox]:checked + label { background:url(../image/shortlisted_active.png) no-repeat; height: 60px;
   width: 60px; display:inline-block; padding: 0 0 0 0px;}
.txt_white{color:#FFF;}
.padding_btm{padding-bottom:50px; padding-top:20px;} 
.font_size20{font-size:20px;} 
