@charset "utf-8";
@font-face {
    font-family: RobotoCondensed;
    src:url(../font-awesome-4.6.3/fonts/RobotoCondensed-Regular.ttf);
}
body{background-color:#f1f1f1; font-family:RobotoCondensed;}
.logo{background-image: -moz-linear-gradient( 145deg, rgb(95,193,199) 0%, rgb(54,112,158) 100%);
  background-image: -webkit-linear-gradient( 145deg, rgb(95,193,199) 0%, rgb(54,112,158) 100%);
  background-image: -ms-linear-gradient( 145deg, rgb(95,193,199) 0%, rgb(54,112,158) 100%); width:250px; padding-top: 22px;
  padding-bottom: 20px; padding-left: 30px;}
.no_padding{padding-left:0px !important; padding-right:0px !important;}
.no_padding_ico{padding-left:0px !important; padding-right:0px !important;}
.navbar{border:0px !important; box-shadow: 0px 0px 10px #888888;}
.circle_menu{height: 50px; width: 50px; background: #f9a727; left:240px; top: 25px; position: absolute; border-radius: 100%;}
.img_menu{padding-top: 17px; padding-left: 14px;}
.notification{float: left;
    padding-top: 17px;
    padding-right: 30px;
    cursor: pointer;}
.mail{ float:left; padding-top:40px;  padding-right:30px;}
.Setting{ float:left; padding-top:40px;  padding-right:30px;}
.noti_conter{background: #51a6b9; border-radius: 100%; height: 15px; width: 15px; display: block; position:absolute; 
margin-top: -26px; margin-left: 8px; color:#fff; padding-bottom:2px; padding-left:4px; font-size:12px;}
.noti_mail{background: #51a6b9; border-radius: 100%; height: 15px; width: 15px; display: block; margin-top: -26px;
 margin-left: 15px; color:#fff; padding-bottom:2px; padding-left:4px; position:absolute; font-size:12px;}
.dropdown-menu li{ border-bottom:#bbbfc4 solid 1px; padding-top: 5px; padding-bottom: 8px;}
.dropdown-menu{width: auto; border-radius: 0px; border: none;}
.dropdown-menu li a{white-space:normal;}
.dropdown-menu li a:hover{ background:none;}
.no_border_bt{border-bottom:none !important;}
.tp{ border-top:3px solid #9d9da2; margin-top:30px;}
.user_profile{height:50px; width:300px; background:url(../image/user.png) no-repeat; margin-top: 25px;}
.username{ padding-left:10px; cursor:pointer;}
.tbl_head{background-color: #69686d; color: #fff;}
.table>tbody>tr>td{border-top:0px;} 
.table>thead>tr>th{ border-bottom:0px;}
.whitebg{background-color: #fff;}
.tbl_bg{background:#f2f2f2;}
.padd_rgt{padding-right:20px;}
.sidebar-nav li a img{padding-right:10px;}
.active_page{ color:#f9a727 !important;}
.acu_bt{ background:#f9a727; border: none;color: #fff; padding-top: 10px; padding-bottom: 10px; padding-right: 20px;
 padding-left: 20px; margin-top:20px;}
.acu_bt:hover{background:#fb9900;}
.search_box{padding-top: 8px; margin-top: 20px; width:50%; border-radius:0px  30px 30px 0px; border: 1px solid #b2b2b2; 
  padding-left: 20px; padding-bottom:9px; float:left; padding-left:30px;  border-left:none;}
.srch_bt{background:#f9a727; border: none; padding-top: 10px; padding-bottom: 10px; padding-right: 12px; padding-left: 12px;
  border-radius: 100%; float:left; margin-top: 16px; margin-left: 10px;} 
.srch_bt:hover{background:#fb9900;}    
.inline_blk{display:inline-block}
.sel_opt{padding-top: 8px; margin-top: 20px; width: 30%; border-radius:30px; border: 1px solid #b2b2b2; 
padding-left: 20px; padding-bottom:8px; background-color:#f0f0f0; float: left; margin-right: -20px; position:relative;
left:0;}

/* super admin login css */

.super_login_bg{ background:url(../image/login_bg.png) center center fixed; background-size:cover; width:100%; 
	-webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover; height:100%; position:absolute;}
.padd_login{padding-top:150px;}
.padd_login h1{ color:#FFF; margin-top:0px;}
.padd_login p{padding-top:30px; color:#FFF;}
.login_frm input[type="text"]{ color:#FFF; display:block; width: 50%; padding-top: 10px; padding-bottom: 10px;
    background: #6dabc1; text-align: center; border: none; border-radius: 5px; margin-bottom:20px;}
.login_frm input[type="password"]{color:#FFF; display:block; width: 50%; padding-top: 10px; padding-bottom: 10px;
    background: #6dabc1; text-align: center; border: none; border-radius: 5px; margin-bottom:20px;}
.login_frm input[type="password"]::-webkit-input-placeholder {color:#fff;}	
.login_frm input[type="text"]::-webkit-input-placeholder {color:#fff;}	
.login_frm button{color:#FFF; display:block; width: 50%; padding-top: 10px; padding-bottom: 10px; font-weight:bolder;
    background: #febb1c; text-align: center; border: none; border-radius: 5px; margin-bottom:20px; text-transform:uppercase;}
.login_frm button:hover{background:#fb9900;}	
.frgt_pass{ right: 0px; display: block; position: absolute; color:#FFF; padding-top:10px;}
.links_login{width:50%; color:#b2def0; padding-top:100px;}
.links_login a{color:#b2def0;}
/* Super admin css close here */


.selectpicker{ width:100%; padding-top:6px; padding-bottom:6px;}	
.upload_bt{ background-color:#f9a727; color:#FFF; width:100%; border:none; padding-top:6px; padding-bottom:6px;} 
#dateRangeForm .form-control-feedback { top: 0; right: -15px;}
.Save_frm{background-color: #f9a727; color: #FFF; width: 100%; border: none; padding-top: 6px; padding-bottom: 6px;}
.padd_tp_bt_20{padding-bottom:20px; padding-top:20px;}
.form_save label{ text-align:left !important; padding-left:30px; font-weight:400;}
.form_save div input{ border:#b2b2b2 solid 1px; border-radius:0px;}
 
 
.padd_35_btm .form-group{padding-bottom:35px;} 
.editfrm .form-group input{ color: #33333b;  border: 1px solid #a8a8a8; border-radius: 0;}
.editfrm .form-group label{ padding-top:8px;}
.ed_area{width:100%;}
.edit_chk{padding-left:20px;}
.edit_chk input{margin-right:15px;}
.content_para { background: #f1f1f1; background-size:cover; height:100%; padding-top: 30px;
    padding-bottom: 30px; margin-bottom:30px;}
h3.para_head { border-bottom: 1px solid #d8d8d8; padding: 0 0 11px 0;}	
 
 
 
.purple{ background:#852c9a; padding-top:10px; padding-bottom:10px; height:165px; margin-bottom:20px;}
.graph{ width:50%; float:left;}
.text_ss{width:50%; float:left;}
.text_ss img{padding-right:10px;}
.text_ss p{color:#FFF; padding-right:10px;}
.para_txtxt{font-size: 30px; line-height: 10px;}
.green{background:#28b779; padding-top:10px; padding-bottom:10px; height:165px; margin-bottom:20px;}
.gray{background:#777f8a; padding-top:10px; padding-bottom:10px; height:165px; margin-bottom:20px;}
.yellow{background:#ffb84a; padding-top:10px; padding-bottom:10px; height:165px; margin-bottom:20px;}
.percent {display: inline-block; line-height:26px; z-index: 2; position: absolute; top:42px; left:48px; color: #fff; 
font-size: 30px;}
.percent p{text-align: center; font-size: 10px; text-transform: uppercase; margin-left:-6px;}
.padd_add{padding-bottom: 60px; padding-top: 9px;}
.txt_white{color:#fff;}
.trans_bgi{padding-bottom: 8px; padding-top: 8px; background: rgba(0,0,0,0.2);}
.dasboard_padd{padding-top:30px; padding-bottom:30px;}

/* editjob css start here  */

.he_editjob{ color:#4fa0b7}
.ed_job_bt{ padding-top:20px;}
.ed_job_bt button{border:#707075 solid 2px; border-radius:5px 5px 5px 5px; background:none; padding: 6px 25px;}
.yrs_sty{padding-top:10px; padding-bottom:15px; padding-left:0px !important;}
.yrs_sty span{padding-left:10px;}
.points_sty{padding-left:0px !important; padding-top:10px; padding-bottom:15px;}
.points_sty p{ color:#8d8d9a; font-size:16px;}
.points_sty p span{color:#33333b; font-size:16px;}
.no_padding_left{ padding-left:0px !important;}
.padd_tabs{padding-bottom: 15px; padding-top: 20px;}
.nav-pills>li.active>a{background:#5ec0c7 !important; border-radius: 0px; padding-right: 25px; padding-left: 25px; 
font-size: 16px;}
.nav-pills>li.active>a:hover{background: #5ec0c7;}
.nav-pills>li>a{color: #333; font-size: 16px;}
.pagination>.active>a{background: #5ec0c7; border-color:#5ec0c7;}
.pagination>li>a{border:0px; color: #333;}
.frm_in_padd{padding-left:0px !important; padding-bottom:5px;}
.padd_txtmin{padding-top: 8px;}
.chosen-choices{padding-bottom:3px !important; padding-top:3px !important; font-family: RobotoCondensed;}
.btn_upload{background:#51a6b9; color: #FFF; width: 100%;  border: none; padding-top: 6px; padding-bottom: 6px;}
.Save_frm { background-color: #f9a727; color: #FFF;  width: 100%; border: none; padding-top:10px; padding-bottom:10px;
			width:130px; border-radius:5px;}
.pad_rg_lfs{padding-left:18px;}	
.small_txt{font-size:12px;}
.blue_color{color:#51a6b9;}		
.ad_cooment{ font-size:18px; padding-top:20px; padding-bottom:20px;}
.Submit_frm{background-color: #f9a727; color: #FFF; width: 100%; border: none; padding-top: 10px; padding-bottom: 10px;
 border-radius: 5px;}
.plus_sep{padding-left: 18px; padding-top:35px;}
.blue_bg{ background:#51a6b9;}
.padd_tp_bt_10{padding-top:10px;}
.txt_white{color:#c5dee5;}
.heading_que{color:#FFF; font-size:18px;}
.pink{ background:#f2adad;}
.green_l{ background:#b6f1c5;}
.pad_25px{padding-top: 25px !important; padding-right:20px !important;}
.pad_bt_1{margin-bottom:1px !important;}
.table_brown_head td{background:#69686d !important; color:#FFF; font-weight:600;}
.padding_bt_5{margin-bottom:3px !important;}
.tbl_bg_light td{background:#f2f2f2 !important;}
.blue_bg_wh_txt{background: #51a6b9 !important;}
.blue_bg_wh_txt a{color:#FFF !important;}
.btn_add_it{background-color: #f9a727; color: #FFF; border: none; padding-top: 6px; padding-bottom: 6px;
	padding-right:40px; padding-left: 40px; margin-left: 20px;}
	
.chk_bx{width:65px;}
.chk_bx input[type=radio]{display:none;}
.chk_bx input[type=radio] + label{ background:url(../image/shortlisted_deactive.png) no-repeat; height: 60px;
   width: 60px; display:inline-block; padding: 0 0 0 0px;}
.chk_bx input[type=radio]:checked + label { background:url(../image/shortlisted_active.png) no-repeat; height: 60px;
   width: 60px; display:inline-block; padding: 0 0 0 0px;}
   

.chk_bx_01{width:65px;}
.chk_bx_01 input[type=radio]{display:none;}
.chk_bx_01 input[type=radio] + label{ background:url(../image/reject.png) no-repeat; height: 60px;
   width: 60px; display:inline-block; padding: 0 0 0 0px;}
.chk_bx_01 input[type=radio]:checked + label { background:url(../image/reject_active.png) no-repeat; height: 60px;
   width: 60px; display:inline-block; padding: 0 0 0 0px;}
   

.chk_bx_02{width:65px;}
.chk_bx_02 input[type=radio]{display:none;}
.chk_bx_02 input[type=radio] + label{ background:url(../image/approved.png) no-repeat; height: 60px;
   width: 60px; display:inline-block; padding: 0 0 0 0px;}
.chk_bx_02 input[type=radio]:checked + label { background:url(../image/approved_active.png) no-repeat; height: 60px;
   width: 60px; display:inline-block; padding: 0 0 0 0px;}  
 

 
@media screen and (min-device-width:1024px) and (max-device-width:1200px) {
	.rsp_logo{ float:left !important; width: 30% !important;}	
	.rsp_ico{ float:left !important;  width: 40% !important;}
	.rsp_pro{float:left !important;  width: 30% !important;}
	.search_box{border-radius:30px 30px 30px 30px !important; border: 1px solid #b2b2b2 !important;}
	
}

@media screen and (min-device-width:768px) and (max-device-width:1024px) {
	.rsp_logo{ float:left !important; width: 40% !important;}	
	.rsp_ico{ float:left !important;  width: 30% !important;}
	.rsp_pro{float:left !important;  width: 30% !important;}
	.search_box { width: 219px;  margin-bottom: 20px;}
	.rsp_tbl{overflow-x:scroll;}
	#wrapper { padding-left: 0px !important; padding-top: 100px;}
	.user_profile{clear: both; float: left; margin-top: 0px; background: #f1f1f1; border-radius: 40px 40px 40px 40px;
	width:180px; margin-top:25px;}
	.search_box{border-radius:30px 30px 30px 30px !important; border: 1px solid #b2b2b2 !important;}
	.editfrm{width:100%;}
	.pe{margin-top:-16px;}
	.rsp_width_100{width:100%;}
	.rsp_padd15{padding-left: 16px !important;}
	.over_fl{overflow-x:scroll}
	.tab_rsp{width:1200px;}

}

@media screen and (min-device-width:500px) and (max-device-width:768px) {
	.rsp_logo{ float:left !important; width: 40% !important;}	
	.rsp_ico{ float:left !important;  width: 30% !important;}
	.rsp_pro{float:left !important;  width: 30% !important;}
	#wrapper { padding-left: 0px !important; padding-top:100px;}
	.user_profile{clear: both; float: left; margin-top: 0px; background: #f1f1f1; border-radius: 40px 40px 40px 40px;
	width:180px; margin-top:25px;}	
	.rsp_tbl{overflow-x:scroll;}
	.pe{margin-top:-16px;}
	.rsp_width_100{width:100%;}
	.rsp_padd15{padding-left: 16px !important;}
	.over_fl{overflow-x:scroll}
	.tab_rsp{width:1200px;}
}


@media screen and (min-device-width:280px) and (max-device-width: 500px) {

	.no_padding_ico{padding-left:50px !important; padding-right:30px !important;}
	.notification{  padding-top:20px; padding-right:30px; padding-bottom:20px;}
	.mail{ padding-top:20px;  padding-right:30px; padding-bottom:20px;}
	.Setting{ padding-top:20px;  padding-right:30px; padding-bottom:20px;}
	.user_detail{clear:both; padding-left: 45px; padding-bottom: 20px;}
	.logo{width:100% !important;}
	.circle_menu{right:30px !important;}
	.padd_rsp{padding-top:70px;}
	#wrapper { padding-left: 0px !important; padding-top:260px;}
	.rsp_logo{ float:left !important; width: 100% !important;}	
	.rsp_ico{ float:left !important;  width: 100% !important;}
	.rsp_pro{float:left !important;   width: 100% !important;}
	.pe{margin-top:-16px;}
	.rsp_width_100{width:100%;}
	.rsp_padd15{padding-left: 16px !important;}
	.over_fl{overflow-x:scroll}
	.tab_rsp{width:1200px;}
}


@media screen and (min-device-width:280px) and (max-device-width: 768px) { 
	#sidebar-wrapper{position:fixed; z-index:9999;}
	.search_box { width: 75%; margin-bottom: 20px;}
	.rsp_tbl{overflow-x:scroll;}
	.search_box{border-radius:30px 30px 30px 30px !important; border: 1px solid #b2b2b2 !important;}
	.pe{margin-top:-16px;}
	
}




