/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* remember to define focus styles. Hee Haw */
:focus { outline: 0; }
*, *:before, *:after {
  -moz-box-sizing:border-box;
       box-sizing:border-box;
  }
body {
  margin:0;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:13px;
  line-height:18px;
  color:#303030;
  background-color:#fafafa;
  -webkit-font-smoothing:antialiased;
  }
ul { margin:0 0 20px; }
li {
  margin-left:30px;
  margin-bottom:3px;
  }
ul li { list-style:disc; }
ol li { list-style:decimal; }

strong {
  font-weight:bold;
  }
.notice {
  background:#ffa;
  border:1px solid #cc7;
  display:block;
  padding:10px;
  margin-bottom:10px;
  }
.stretch {
  display:block;
  width:100%;
  }
.pad1y {
  padding:10px 0;
  }
.center {
  text-align:center;
  }
.content {
  margin-top:40px;
  padding:0 0 60px;
  }
.page a {
  color:#404040;
  font-weight:bold;
  text-decoration:none;
  border-bottom:1px solid #ddd;
  }
  .page a:hover {
    border-color:#d0d0d0;
    }

  

/*tablesort specific styling*/
th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header { cursor:pointer; }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#fb9900 transparent;
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }

.page .inner {
  width:960px;
  margin:0 auto;
  padding:0 20px;
  }
  .content .inner {
    width:520px;
    }
.heading {
  margin-top:90px;
  }

.links {
  width:480px;
  margin:50px auto 0;
  }
  .links a {
    width:50%;
    float:left;
    }
a.button {
  background:#1F90FF;
  border:1px solid #1f4fff;
  height:40px;
  line-height:38px;
  color:#fff;
  display:inline-block;
  text-align:center;
  padding:0 10px;
  -webkit-border-radius:1px;
          border-radius:1px;
  -webkit-transition:box-shadow 150ms linear;
     -moz-transition:box-shadow 150ms linear;
       -o-transition:box-shadow 150ms linear;
          transition:box-shadow 150ms linear;
  }
  a.button:hover {
    -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.25);
            box-shadow:0 1px 5px rgba(0,0,0,0.25);
    border:1px solid #1f4fff;
    }
  a.button:focus,
  a.button:active {
    background:#0081ff;
    -webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,0.25);
            box-shadow:inset 0 1px 5px rgba(0,0,0,0.25);
    }

.options {
  margin:10px 0 30px 15px;
  }
  .options h3 {
    display:block;
    padding-top:10px;
    margin-top:20px;
    }
  .options h3:first-child {
    border:none;
    margin-top:0;
    }

pre,
code {
  font-family:Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  word-wrap:break-word;
  color:#333;
  }
pre {
  font-size:13px;
  line-height:1.25em;
  background:#fff;
  padding:10px 15px;
  margin:10px 0;
  overflow: auto;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.30);
          box-shadow:0 1px 3px rgba(0, 0, 0, 0.30);
  }
code {
  font-size:12px;
  border:0;
  padding:0;
  background:#e6e6e6;
  background:rgba(0,0,0,0.08);
  box-shadow:0 0 0 2px rgba(0,0,0,0.08);
  }
pre code {
  font-size:13px;
  line-height:1.25em;
  background:transparent;
  box-shadow:none;
  border:none;
  padding:0;
  margin:0;
  }

@media screen {
  .com { color: #999988; }  /* a comment */
  .lit, .typ { color: #445588; } /* literal, type */
  .tag { color: navy; } /* tag */
  .atv, str { color: #dd1144; } /* attribute, string */
  .dec, .clo, .opn, .pun, .kwd { color: #333333; } /* a declaration, close bracket, open bracket, punctuation, keyword */
  .var, .atn { color: teal; } /* variable, markup attribute */
  .fun { color: #990000; } /* functione */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun, .opn, .clo  { color: #440; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
/* Style */
pre.prettyprint {
  background: white;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  padding: 12px 10px;
  }

/*-----------------------------------
  Markup free clearing
  Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack
-------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */
