
@font-face {
  font-family: 'Edmondsans-Bold';
  src: url('Edmondsans-Bold.eot?#iefix') format('embedded-opentype'),  url('Edmondsans-Bold.otf')  format('opentype'),
	     url('Edmondsans-Bold.woff') format('woff'), url('Edmondsans-Bold.ttf')  format('truetype'), url('Edmondsans-Bold.svg#Edmondsans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
