
/* -------------------------------------------------------------*/
/* Flexslider  */
/* -------------------------------------------------------------*/
@mixin flexSlider($custom: '') {
     .flexslider-custom {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        ul.slides {
            width: 100%;
            position: relative;
            height: 100%;

            li {
                float: left;
                position: relative;
                list-style: none;
                height: 100%;
                display: none;

                .image {
                    position: relative;
                    z-index: 0;
                    height: $slider-height;
                    background-color: #f2f2f2;
                    img {
                        max-width: 100%;
                    }
                }

                .content {
                    position: absolute;
                    top: 40%;
                    left: 30%;
                    width: 40%;
                    text-align: center;
                    z-index: 99;

                    h3 {
                        color: #fff;
                        text-transform: uppercase;
                        margin-bottom: 25px;
                        color: $overlay-typo-color;
                        a {
                            color: inherit;
                        }
                    }

                    a.read-more {
                        font-size: 11px;
                        line-height: 1em;
                        color: #fff;
                        margin-top: 15px;
                    }
                }


            }
        }
    }

    ul.flex-direction-nav {
        display: block;
        position: absolute;
        top: 45%;
        z-index: 999;
        width: 100%;
        left: 0px;

        li {
            color: #fff;
            line-height: 1em;
            position: absolute;

            a {
                color: #fff;
                padding: 7px 14px 9px 14px;
                line-height: inherit;
                border-radius: 50%;
                border: 2px solid #fff;
                cursor: pointer;
                text-align: center;

                span , i {
                    color: inherit;
                    line-height: inherit;
                    font-size: 12px;
                }
            }
        }

        li.flex-nav-prev {
            left: 70px;
        }

        li.flex-nav-next {
            right: 70px;
        }


    }
}

.post-media .flex-direction-nav {
    top: 0px !important;
    height: 100% !important;
    li {
        top: auto;
        bottom: 20px;

        a {
            border-width: 1px !important;
        }
    }
    li.flex-nav-prev {
        right: 60px !important;
        left: auto !important;
    }

    li.flex-nav-next {
        right: 10px !important;
    }
}

