/* Mediaquery */
@media (min-width: 1600px){

}
@media (min-width: 1200px) {

}

@media (min-width: 1024px) and (max-width: 1200px){
    /* - Grid Intro - */
    #slider-grid {
        height: auto;

        .col-xs-6 {
            .grid-item {
                width: 99.7%;
                img {
                    max-width: none;
                    max-height: 150%;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
}

// Smaller Screens
@media (max-width: 990px) {

    /* - Navigation - */
    #navigation {
        display: none;
    }

    #navigation-responsive {
        display: block !important;
        .right-panel {
            display: none;
        }
    }



    /* - Grid Intro - */
    #slider-grid {
        height: auto;

        .col-xs-6:last-of-type {
            width: 100%;
            .half-height {
                width: 49.86%;
                margin-right: 1px;
            }
        }
    }

    /* - Intro - */
    #intro-grid-fullwidth {

        .intro-item.large {
            width: 100%;
            float: none;
            position: relative;
            .item-content {
                left: 40px;
            }
        }

        .intro-item.third {
            width: 33.333%;
            margin: 0px;
        }
    }

    /* - Posts - */
    .post-media {
        .inline-gallery {
            a {
                width: 33.19% !important;
            }
        }
    }



    /* - Sidebar - */
    section.content-wrapper.single-post-page {
        .posts-container {
            margin-bottom: $gap !important;
        }
    }
    .pagination {
        margin-bottom: $gap;
    }
    .widget-content.about-me {
            img {
                max-width: 300px;
                float: left;
                margin-right: 20px;
            }
            p.user-content, .social-icons-colored {
                float: right;
            }
    }

    /* - Footer - */
    footer {
        .widgets-container > div {
            margin-bottom: 50px;;
            float: left;
            clear: both;
            width: 100%;
        }
    }
}

/* - Ipad Landscape - */
@media (min-width: 980px) {

}

@media (max-width: 979px) {

}

@media (max-width:  979px){

}
/* - Iphone Landscape - */
@media (max-width: 640px) {

    /* - Intro - */
    #intro-grid-fullwidth {
        img {
            max-width: none !important;
            max-height: 100%;
        }
        .intro-item.large {
            .item-content {
                width: 80% !important;
            }
        }

    }

    /* - Grid Intro - */
    #slider-grid {
        height: auto;
        img {
            max-width: none !important;
            max-height: 150% !important;
        }
        .col-xs-6:last-of-type {
            width: 100%;
            .half-height {
                width: 49.81%;
                margin-right: 1px;
            }

        }
    }

    /* - Slider - */
    #slider-classic {
        li  {

            img {
                max-width: none !important;
                max-height: 100%;

            }
            .content {
                width: 60% !important;
                left: 20% !important;
            }
        }
        .flex-direction-nav {
            .flex-nav-next {
                right: 20px !important;
                top: 0px;
            }
            .flex-nav-prev {
                left: 20px !important;
                top: 0px;
            }
        }
    }

    /* - Blog - */
    .post-type-image , .post-type-gallery {
        .post-media {

            img {
                max-width: 550px !important;
                max-height: none !important;
            }
        }
    }

    /* - Comments - */
    #comments {
        .single-comment {
            .comment-content {
                width: 70%;
                margin-left: 10%;
            }
            .single-comment {
                .comment-content {
                    width: 65%;
                    margin-left: 15%;
                }
            }
        }
    }
}


@media (min-width: 640px) and (max-width: 767px) {

}

@media (max-width: 500px){
}

/* - Portrait - */
@media (max-width: 480px){

    /* - Navigation - */
    #navigation-responsive {
        .logo-wrapper {
            .logo {
                max-width: 60%;
            }
        }
    }
    /* - Intro - */
    #intro-grid-fullwidth {
        .intro-item.large {
            .item-content {
                width: 80% !important;
            }
        }
        .intro-item.third {
            width: 100%;
        }
    }

    /* - Grid Intro - */
    #slider-grid {
        height: auto;

        .col-md-4 {
            width: 100%;
            .full-height {
                height: 300px;
            }
            .half-height {
                width: 100% !important;
                margin-right: 0px;
            }
        }
    }

    /* - Slider - */
    #slider-classic {

        li {
            .content {
                width: 80% !important;
                left: 10% !important;
            }
        }
        .flex-direction-nav {
            top: 30% !important;
            .flex-nav-next {
                right: 100px !important;
                top: 0px;
            }
            .flex-nav-prev {
                left: 100px !important;
                top: 0px;
            }
        }
    }

    /* - Blog - */
    .post-title h2  {
        font-size: 26px;
        line-height: 1.3em;
    }
    .post-meta-bottom {

        .read-more a {
            margin-bottom: 10px;

        }
        .share {
            margin-top: 10px;
            margin-bottom: -10px;
            clear: both;
            a {
                margin-bottom: 10px;
            }
        }
    }

    /* - Inline gallery - */
    .single-post.post-type-inline-gallery {

        .post-media {
            .inline-gallery {
                height: auto;
                a {
                    width: 32% !important;
                    margin-right: 0.3%;
                    min-height: none;
                    height: 100px;
                    min-height: 0px !important;
                }
            }
        }
    }

    /* - Quote - */
    .blockquote {
        width: 100%;
        float: left;
        clear: both;
        .icon {
            width: 100%;
            text-align: left;
            margin: 0px 0px 10px 0px !important;
        }

        .content {
            float: left;
            clear: both;
            width: 100%;
            text-align: left;
            margin: 0px !important;
        }
    }

    #post-author {
        .content {
            float: left;
            clear: both;
            width: 100%;
            margin: 30px 0px 0px 0px;
        }
    }

    #comments {
        .single-comment {
            .comment-content {
                float: left;
                clear: both;
                width: 100% !important;
                margin: 30px 0px 0px 0px !important;
            }
            .single-comment , .sub-comments{
                float: left;
                clear: both;
                width: 100% !important;
                margin-left: 0px !important;
            }
        }
    }

    #reply-form {
        input[type=text] , input[type=email] , textarea {
            width: 100%;
            font-size: 13px;
        }
        form p {
            font-size: 13px;
        }
    }

    /* - Pagination - */
    .pagination {
        margin-bottom: $gap - 5px;
        a {
            margin-bottom: 5px;
        }
    }

    /* - Widgets - */
    .widget-content.popular-posts {
        span.date {
            margin-bottom: 5px;
        }
    }

    .widget-content.instagram {
        a {
            width: 49% !important;
        }
    }

    .instagram-pics li {
        width: 49% !important;
    }

    .widget-content.about-me {
        img {
            max-width: 100%;
        }
    }

}


@media (max-width: 360px) {

}

