/* -------------------------------------------------------------*/
/* Style Settings  */
/* -------------------------------------------------------------*/

/*
    Fonts used :
    Raleway for headers and navigation
    Lato for content
*/

// Replaced Values (This values will be replaced by User Settings)
//
// $background-color: #F4F4F4;
// $accent-color: #37A8E0;
// $headers-font-family: 'Raleway' , sans-serif;
// $headers-font-color: #4D4D4D;
// $headers-font-weight: 900; // h1 h2
// $sub-headers-font-weight: 800; // h3 h4
// $items-headers-font-weight: 600; // h5 h6
// $body-font-family: 'Lato' , sans-serif;
// $body-font-weight: normal;
// $body-font-color: #898989;
// $body-font-size: 16px;
// $body-line-height: 28px;
// $sidebar-font-size: 14px;
// $nav-font-family: 'Raleway' , sans-serif;
// $nav-font-weight: 700;
// $nav-font-size: 14px;
// $nav-font-color: #7A7A7A;

/* -------------------------------------------------------------*/
/* Gaps and Borders  */
/* -------------------------------------------------------------*/
$gap: 50px;
$grid-posts-gap: 30px;
$post-heading-gap: 20px;
$slider-height: 550px;

/* -------------------------------------------------------------*/
/* Colors  */
/* -------------------------------------------------------------*/
$img-background: #f7f7f7; // Placeholder for background images
$navigation-background-color: #fff;

/* -------------------------------------------------------------*/
/* Typography  */
/* -------------------------------------------------------------*/
// Headers
$h1-font-size: 42px;
$h2-font-size: 30px;
$h3-font-size: 26px;
$h4-font-size: 20px;
$h5-font-size: 16px;
$h6-font-size: 13px;
$headers-line-height: 1.2em;
$sub-headers-line-height: 1.53em;


// Sub Headers


// Body


// Sidebar Typo

$sidebar-line-height: 1.7em; // 24px

// Navigation Typography



// Meta
$meta-font-size: 11px;
$meta-line-height: 11px;
$meta-font-color: #C2C2C2;

// Seperators and borders
$border-color: #e2e2e2;
$alt-border-color: #F0F3F4;

// Overlay Typo
$overlay-typo-color: #fff;

// Buttons
$button-background-color: $accent-color;
$button-alternative-background-color: #f2f2f2;

// Quote
$quote-color: #b3b3b3;


// animation duration
$transition-duration: 0.5s;


// Social Icons Color
$twitter-color: #00aced;
$facebook-color: #3b5998;
$google-plus-color: #dd4b39;
$pinterest-color: #cb2027;
$linkedin-color: #007bb6;
$youtube-color: #bb0000;
$vimeo-color: #aad450;
$tumblr-color: #32506d;
$instagram-color: #517fa4;
$flickr-color: #ff0084;
$dribbble-color: #ea4c89;
$quora-color: #a82400;
$foursquare-color: #0072b1;
$forrst-color: #5B9A68;
$vk-color: #45668e;
$wordpress-color: #21759b;
$stumbleupon-color: #EB4823;
$yahoo-color: #7B0099;
$blogger-color: #fb8f3d;
$soundcloud-color: #ff3a00;
$github-color: #7A7A7A;



// single post
$post-media-height: 350px;
$grid-post-media-height: 250px;

// comment gap
$comment-gap: 40px;