@import "settings.scss";
@import "mixins.scss";
/*
    Theme Name: Dawn
    Author: MontuThemes
*/

/* -------------------------------------------------------------*/
/* Elements  */
/* -------------------------------------------------------------*/
%float {
    float: left;
    clear: both;
    width: 100%;
}
%form {
    input[type=text] , input[type=email] , textarea {
        background: #fff;
        border: none;
        outline: none;
        border-bottom: 1px solid #E2E2E2;
        font-size: 14px;
        line-height: 14px;
        color: #898989;
        padding: 16px 0px;

    }

}


%meta {
    color: $meta-font-color;
    font-size: $meta-font-size;
    line-height: $meta-line-height;
}

%widget-title {
    .widget-title {
        text-transform: uppercase;
        line-height: 1em;
        position: relative;
        margin-bottom: 40px;
        @extend %float;

        &:after {
            position: absolute;
            opacity: 0.7;
            top: 150%;
            left: 0px;
            height: 3px;
            content: '';
            width: 20px;
            background-color: $headers-font-color;
        }

        &:empty {
            display: none;
        }
    }
}

.button {
    border-radius: 100px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 27px;
    font-size: 11px;
    line-height: 1em;
    transition: all , $transition-duration;
    -webkit-transition: all , $transition-duration;
}

.button-small {
    padding: 11px 22px;
    font-size: 10px;
    border-width: 1px !important;
}

.button-large {
    padding: 17px 32px;
    min-width: 70px;
    font-size: 13px;
}

.button-with-background {
    background-color: $accent-color;
    color: #fff;
}

.button-with-white-border {
    background-color: none;
    border: 2px solid #fff;
}
.button-with-grey-background {
    border: none;
    background-color:#F2F2F2;
    transition: background-color ,$transition-duration !important;
}
.button-with-background:hover {
    background-color: $meta-font-color;
    color: #7A7A7A;
}

.button-with-white-border:hover , .button-with-grey-background:hover {
    background-color: $accent-color;
    color: #fff;
    border-color: $accent-color;
}



.margin {
    @extend %float;
}
/* -------------------------------------------------------------*/
/* Reset  */
/* -------------------------------------------------------------*/

img {
    max-width: 100%;
}
/* - Typography  - */
body {
    background-color: $background-color;
    font-family: $body-font-family;
    font-weight: normal;
    color: #898989;
    font-size: 16px;
    line-height: 28px;
    @extend %float;
    > section , > footer {
        @extend %float;
    }

}

ul {
    padding: 0px;
    li {
        list-style: none;
    }
}

a:hover , a:active {
    text-decoration: none;
    color: $accent-color;
}

/* - Headers - */
%heading {
    font-family: $headers-font-family;
    line-height:  $headers-line-height;
    color: $headers-font-color;
}
h1 {
    @extend %heading;
    @extend %float;
    margin-top: 0px;
    a ,span {
        @extend %heading
    }
}

h2, h3, h4 , h5 , h6 {
    @extend h1;
}

h1{
    font-size: $h1-font-size;
    font-weight: $headers-font-weight;
}
h2{
    font-size: $h2-font-size;
    font-weight: $headers-font-weight;
}
h3{
    font-size: $h3-font-size;
    font-weight: $sub-headers-font-weight;
}
h4{
    font-size: $h4-font-size;
    font-weight: $sub-headers-font-weight;
}
h5{
    font-size: $h5-font-size;
    font-weight: $items-headers-font-weight;
    line-height: 1.53em;
}
h6{
    font-size: $h6-font-size;
    font-weight: $items-headers-font-weight;
    line-height: 1.53em;
}

.uppercase {
    text-transform: uppercase;
}

a {
    color: $body-font-color;
}


/* - Sidebar And Footer - */
.widget-content {
    font-size: $sidebar-font-size;
    line-height: $sidebar-line-height;

}
/* - Container Boxes - */
.container-box , .post-content-box {
    background: #fff;
    border-bottom: 1px solid #E2E2E2;
}

.post-content-box {
    padding: 35px 50px 35px 50px;
    @extend %float;
    margin-bottom: $gap;
    &:last-of-type {
        margin-bottom: 0px !important;
    }
}

%grey-hover {
    background-color: $meta-font-color;
    color: #7A7A7A;
}
%default-hover {
    background-color: $accent-color;
    color: #fff;
}

%social-icons-large {
    a {
        padding: 13px;
        width: 40px;
        font-size: 13px;
        text-align: center;
        line-height: 13px;
        border-radius: 50%;
        border: 1px solid $alt-border-color;
        color: $meta-font-color;
        display: inline-block;
        margin-right: 12px;
        transition: all , $transition-duration;
        -webkit-transition: all , $transition-duration;

    }
    a:hover {
            border: none;
            background-color: $meta-font-color;
            color: #fff;
    }
}

%social-icons-small {
    a {
        padding: 8px 5px;
        font-size: 13.5px;
        width: 30px;
        line-height: 1em;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        color: #fff;
        transition: all , $transition-duration;
    }

    @each $icon , $color in ( twitter, $twitter-color),
                            ( facebook, $facebook-color),
                            ( google, $google-plus-color),
                            ( pinterest, $pinterest-color),
                            ( linkedin, $linkedin-color),
                            ( youtube, $youtube-color),
                            ( vimeo, $vimeo-color),
                            ( tumblr, $tumblr-color),
                            ( instagram, $instagram-color),
                            ( flickr, $flickr-color),
                            ( dribbble, $dribbble-color),
                            ( quora, $quora-color),
                            ( foursquare, $foursquare-color),
                            ( forrst, $forrst-color),
                            ( vk, $vk-color),
                            ( wordpres, $wordpress-color),
                            ( stumbleupon, $stumbleupon-color),
                            ( yahoo, $yahoo-color),
                            ( blogger, $blogger-color),
                            (github , $github-color),
                            ( soundcloud, $soundcloud-color) {

        .#{$icon} {background-color: $color; }
    }


}


%social-icons-colored-large {
    @extend %social-icons-small;
    a {
        padding: 12px 11px;
        font-size: 16px;
        width: 40px;
    }

}

/* -------------------------------------------------------------*/
/* Header */
/* -------------------------------------------------------------*/
section#navigation {

    background-color: $navigation-background-color;
    padding: 20px 0px;
    border-bottom: 1px solid #F2F2F2;

    .col-md-12 {
        position: relative;

        /* - Logo - */
        .logo {
            float: left;
            clear: both;
            img {
                max-width: 50%;
                max-height: 50%;
            }
        }

        /* - Right Panel - */
        .right-panel {
            float: right;
            margin-top: 5px; // replaced by (logo height / 4) (js)
        }

        /* - Menu - */
        ul {
            margin: 0px;
        }

        .navigation-menu {
            float: left;
            ul li {
                display: inline-block;
                position: relative;
                float: left;
                margin-right: 35px;
                &:last-of-type {
                    margin-right: 0px;
                }
                a {

                    color: $nav-font-color;
                    font-size: $nav-font-size;
                    font-family: $nav-font-family;
                    line-height: 1em;
                    text-transform: uppercase;
                    font-weight: $nav-font-weight;

                    &:hover {
                        color: $accent-color;
                    }
                }
                &:hover {
                    > ul {
                        // display: block;
                    }
                }

                ul {
                    position: absolute;
                    top: 20px;
                    z-index: 99999;
                    padding: 20px 0px;
                    left: -50px;
                    width: 180px;
                    text-align: center;
                    display: none;

                    li {
                        background: $navigation-background-color;                                                    border-bottom: 1px solid $alt-border-color;
                        padding-bottom: 20px;
                        &:last-of-type {
                            padding-bottom: 0px;
                        }
                        @extend %float;
                        a {
                            font-size: 13px;
                            line-height: 1em;
                            margin-top: 20px;
                            @extend %float;
                            padding-left: 5%;
                            padding-right: 5%;
                        }
                        &:last-child a {
                            margin-bottom: 20px;

                        }
                    }
                }
            }

            &.disabled {
                    display: none;
            }
        }

        /* - Search Icon - */
        .search-icon {
            float: right;
            margin-left: 35px;
            min-width: 30px;
            i {
                color: #E2E2E2;
                font-size: 20px;
                transition: all , $transition-duration;
            }
            a {
                transition: all , $transition-duration;
                &.disabled {
                    display: none;
                    float: right;
                    line-height: 1em;

                }
            }


        }
    }

    form {
        @extend %form;
        height: 100%;
        position: absolute;
        z-index: 0;
        right: 50px;
        top: -4px;
        width: 300px;
        input {
            @extend  %float;
            width: 250px;
            background: none !important;
            border: none !important;
        }

    }
    .disabled {
        display: none;
    }
}


#navigation-responsive {
    @extend #navigation;
    display: none;
    .row {
        .logo-wrapper {
            @extend %float;
            width: 100%;
            .logo {
                float: left;
            }
            .toggleMenu {
                float: right;
            }
        }

        .right-panel {
            text-align: left;
            @extend %float;
            margin-top: 20px !important;

            .navigation-menu, ul  {
                @extend %float;

            }
            ul li {
                @extend %float;
                text-align: left;
                border-bottom: 1px solid $alt-border-color;
                a {
                    @extend %float;
                    padding: 20px 0px;
                }

                &:last-of-type  {
                    border-bottom: 0px;
                    a {
                        padding-bottom: 0px;
                    }
                }

                ul {
                    display: block !important;
                    position: relative !important;
                    left: 0px !important;
                    width: 100% !important;
                    top: 0px !important;
                    border-top: 1px solid $alt-border-color;
                    padding: 0px !important;
                    margin-top: 20px !important;

                    li {
                        a {
                            font-size: 13px;
                            line-height: 1em;
                            padding-left: 20px;
                            margin-top: 0px !important;
                        }
                    }
                }
            }
        }

        .toggleMenu {
            @extend .search-icon;
            margin-left: 15px !important;
        }
        .toggleMenu , .search-icon {
            margin-top: 3px !important;
            a , i {
                color: $body-font-color !important;
            }
        }
        .searchform  {
            position: relative;
            background: #fff;
            top: 0px;
            height: 40px;
            width: 100%;
            margin-bottom: 20px;
            @extend %float;
            border-bottom: none;
            form {
                position: relative;
                border-radius: 50px;
                width: 100%;
                left: 0px;
                input {
                    width: 100%;
                    height: 100%;
                    line-height: 100%;
                    padding-left: 20px;
                }
            }
        }
    }
}

/* -------------------------------------------------------------*/
/* Classic Slider  */
/* -------------------------------------------------------------*/
section#slider-classic {
    display: block;
    @extend %float;
    .slides-container {
        position: relative;
        @extend %float;
        height: $slider-height;
        @include flexSlider('flexslider-custom');
    }
}

/* -------------------------------------------------------------*/
/* Masonry Intro  */
/* -------------------------------------------------------------*/
#slider-grid {
    position: relative;
    margin-top: $gap;
    height: 500px;
    .row {
        padding: 0px 15px 0px 0px;
        margin-left: 0px;

    }
    .col-md-4 {
        padding: 0px;
    }
    .grid-item {
        float: left;
        width: 99.9%;
        margin-bottom: 1px;
        overflow: hidden;
        position: relative;
        &.full-height {
            height: 500px;
        }
        &.third-height{
            height: 166px;
        }
        &.half-height {
            height: 250px;
        }

        .item-image {
            background: #000;
            position: relative;
            z-index: 0;
            @extend %float;
            height: 100%;
            img{
                opacity: 0.9;
                max-width: 130%;
                min-width: 100%;
                min-height: 100%;
            }
        }

        .item-content {
            position: absolute;
            width: 80%;
            left:10%;
            bottom: 30px;
            z-index: 1;
            text-align: center;
            .item-title {
                margin-bottom: 10px;
            }
            .item-title , a {
                color: $overlay-typo-color;
            }
        }
    }
}


/* -------------------------------------------------------------*/
/* Fullwidth  Intro  */
/* -------------------------------------------------------------*/
#intro-grid-fullwidth {
        overflow: hidden;

        .intro-item {
            float: left;
            position: relative;
            .item-image {
                position: relative;
                height: 100%;
                z-index: 0;
                overflow: hidden;
                background-color: #3d3d3d;
                img {
                    opacity: 0.8;
                    min-height: 100%;
                    max-width: 100%;
                }
            }
            .item-content {
                position: absolute;
                z-index: 1;
                bottom: 40px;
                width: 70%;
                left: 40px;
                .item-title , a {
                    color: $overlay-typo-color;
                }
            }
            &.large {
                width: 75%;
                height: 550px;
                .item-content {
                    left: 80px;
                    bottom: 80px;
                    width: 50%;

                    a.button {
                        margin-bottom: 15px;
                        float: left;

                    }
                }
            }

            &.third {
                width: 24.9%;
                height: 182.5px;
                margin-bottom: 1px;
                margin-left: 0.1%;
            }


        }
}


/* -------------------------------------------------------------*/
/* Blog  */
/* -------------------------------------------------------------*/
section#blog-classic {
    margin-top: $gap;
}

.single-post {
    @extend %float;
    margin-bottom: $gap;
    &:last-of-type {
        margin-bottom: 0px !important;
    }

    .post-media {
        height: $post-media-height;
        overflow: hidden;
        position: relative;
        &.post-media-image {
            img {
                bottom: 0px;
                left: 0px;
                z-index: 0;
                position: absolute;
            }
        }

        /* - Flexslider - */
        .flexslider {
            height: inherit;
            @include flexSlider();
        }

        /* - inline gallery - */
        .inline-gallery {
            @extend %float;
            margin-bottom: -1px;
            a {
                float: left;
                overflow: hidden;
                width: 33.2%;
                min-height: 175px;
                margin-right: 1px;
                margin-bottom: 1px;
                img {
                    position: relative;
                    max-height: 175px;
                    max-width: none;
                }
            }
        }

        // Ifame video
        iframe {
            width: 100%;
            height: $post-media-height;
            border: none;
        }


    }


    // Inline gallery height
    &.post-type-inline-gallery .post-media {
        height: auto;
    }

    // Quote
    &.post-type-quote {

        .post-content-outer {

            padding-top: 25px;

            .quote-wrapper {
                @extend %float;
                text-align: center;
                i , span , h2 {
                    @extend %float;
                    text-align: center;
                }
                i.fa {
                    font-size: 20px;
                    color: $meta-font-color;
                    line-height: 1em;
                    margin-bottom: 15px;
                }
                .sep {
                    width: 20%;
                    margin-left: 40%;
                    margin-bottom: 15px;
                    height: 1px;
                    background-color: $alt-border-color;
                    &.wide{
                        width: 100% !important;
                        margin-left: 0px !important;
                    }

                }
                h2 {
                    color: $nav-font-color;
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: 25px;
                }
                span.author {
                    color: $meta-font-color;
                    font-size: 13px;
                    line-height: 1em;
                    margin-bottom: 0px;
                }
            }
        }
    }


    .post-content-outer {
        padding: 60px 50px 25px 50px;
        @extend %float;

        .post-meta-top {
            @extend %float;
            margin-bottom: $post-heading-gap;
            a {
                @extend %meta;
                text-transform: uppercase;
                float: left;
                &:after {
                    content:',';
                    padding-left: 5px;
                    padding-right: 5px;
                }
                &:nth-child(2):after {
                    content: '-';
                    padding: 0px 10px;
                }
                &:last-of-type:after {
                    content: '';
                }
                &:hover {
                    color: $accent-color;
                }
            }

        }


        div.post-title {
            padding-bottom: $post-heading-gap;
            position: relative;
            @extend %float;
            &:after {
                margin-top: $post-heading-gap - 10px;
                content: '';
                height: 1px;
                background-color: $border-color;
                width: 100px;
                @extend %float;
            }
        }
        div.post-content-inner {
            @extend %float;
            margin-bottom: 35px;

            p img {
                height: auto;
            }

            div {
                max-width: 100%;
            }

            .gallery-size-thumbnail {
                .gallery-item {

                    img {
                        border: none;
                    }
                }
            }
        }

        div.post-meta-bottom {
            @extend %float;
            padding-top: 25px;
            border-top: 1px solid $alt-border-color;

            div.read-more {
                float: left;
                a {
                    float: left;
                    clear: both;
                }
            }

            div.share {
                float: right;
                margin-right: -12px;

                @extend %social-icons-large;

            }

            .tagcloud {
                width: auto ;
            }

        }
    }


    // Sticky Post
    &.sticky-post {
        .container-box  {
                div.post-title:after {
                    background-color: $accent-color;
                }
                .post-meta-top {
                     p {
                         @extend %meta;
                         text-transform: uppercase;
                         float: left;
                         color: $accent-color;
                         margin-right: 10px;
                         margin-bottom: 0px;
                     }
                }
        }
    }
}


.pagination {
    @extend %float;
    text-align: center;
    margin: 0px -5px 0px 0px;
    a , > span {
        padding: 19px 22px;
        @extend .container-box;
        font-size: 12px;
        line-height: 1em;
        transition: background-color , $transition-duration;
        display: inline-block;
        margin-right: 5px;


        &:hover , &:active , &.active , &.current {
            color: #fff;
            background-color: $accent-color;
            i {
                color: #fff !important;
            }

        }
        &.has_icon {
            .fa {
                color: $meta-font-color;
                font-size: 10px;
                margin-top: 2px;
                opacity: 0.5;
            }
            .fa-chevron-left {
                float: left;
                margin-right: 8px;
            }
            .fa-chevron-right {
                float: right;
                margin-left: 8px;
            }
        }
    }
}

/* -------------------------------------------------------------*/
/* Grid Blog  */
/* -------------------------------------------------------------*/
#blog-classic.grid-blog {


    .posts-container .row .grid-posts-wrapper div[class^="col-md"]{
        margin-bottom: $grid-posts-gap;
    }
    .single-post {
        margin-bottom: $grid-posts-gap;
        .post-title h2 a {
            font-size: 24px;
        }

        &.post-type-image , &.post-type-gallery {
            .post-media {
                height: $grid-post-media-height;
                img {
                    max-height: 100%;
                    max-width: 150%;
                }
            }
        }

        .flex-direction-nav {
            .flex-nav-next {
                right: 20px !important;
                bottom: 20px;
            }

            .flex-nav-prev {
                right: 50px !important;
                bottom: 20px;
            }

            a {
                border: none;
            }
        }

        .share {
            display: block;
            a {

                padding: 0px;
                margin-right: 20px;
                border: none;
                width: auto;

                &:hover {
                    background: none !important;
                    color: inherit;;
                }

            }
        }
    }


    .single-post.post-type-inline-gallery {
        .inline-gallery {
            a {
                width: 33.3%;
                margin: 0px;
                overflow: hidden;
                height: 100px;;
                min-height: 0px;
            }
        }
    }

    .pagination {
        @extend %float;

    }


}

/* -------------------------------------------------------------*/
/* Single Post  */
/* -------------------------------------------------------------*/
.post-content-inner {

    // Quote
    .blockquote {
        @extend %float;
        padding: 30px 0px;
        border-top: 1px solid $alt-border-color;
        border-bottom: 1px solid $alt-border-color;

        .icon {
            float: left;
            margin-right: 20px;
            margin-left: 20px;
            width: 50px;
            position: relative;
            margin-top: 30px;
            i {
                font-size: 30px;
                line-height: 1em;
                color: $meta-font-color;

            }
        }


        .content {
            margin-left: 100px;
            p {
                font-size: 30px;
                line-height: 1.3em;
                color: $meta-font-color;
                font-weight: 300;
            }
            span.author {
                font-size: 13px;
                font-weight: 300;
                text-transform: capitalize;;
                line-height: 1em;
                color: $meta-font-color;
                float: left;
                margin-top: 10px;
            }
        }
    }

    // Grid Images
    .images-gallery.custom-grid-section {
        margin-left: -2%;
        float: left;
        > div {
            float: left;
            margin-left: 2%;
            &.grid-half {
                width: 48%;
                overflow: hidden;
            }

            .grid-third {
                width: 30.3%;
            }
        }
        img {
            height: auto !important;
        }
    }

}


// About author
.post-author {
        .author-image {
            float: left;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;

            img {
                max-width: none;
                min-height: 100%;
                max-height: 100%;
            }

        }

        .content {
            margin-left: 240px;
            margin-top: 10px;
            @extend %widget-title;
            .widget-title {
                float: none;
                clear: none;
                margin-bottom: 25px;
            }

            @extend %social-icons-small;
            .social-icons-colored {
                margin-top: 15px;
            }
        }
}

#comments {
    .single-comment {

        @extend %float;

        border-bottom: 1px solid $alt-border-color;
        padding-bottom: $comment-gap;
        margin-bottom: $comment-gap;
        &:last-of-type {
            padding-bottom: 0px;
            margin-bottom: 0px;
            border-bottom: none !important;
        }

        .sub-comments {
            border-top: 1px solid $alt-border-color;
            padding-top: 40px;
            margin-top: 40px;
            @extend %float;
            margin-left: 10%;
            width: 90%;

            .sub-comments {
                width: 100%;
                margin-left: 0px;
            }
        }
        > .avatar {
            float: left;
            width: 20%;
            .img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }

        .comment-content {
            float: left;
            width: 75%;
            margin-left: 5%;

            h5 a {
                text-transform: uppercase;
                float: left;
                margin-bottom: 0px;
                font-weight: bold;
            }

            span.meta {
                @extend %float;
                font-size: 12px;
                color: $meta-font-color;
                line-height: 1em;
                margin: 0px;
            }
            div.content {
                @extend %float;
                margin-top: 20px;
            }

            .button {
                float: left;
                clear: both;
                margin-top: 15px;
            }
        }


    }
}
#comments , #reply-form {
    .box-title {
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid $alt-border-color;
        @extend %float;

        h4 {
            line-height: 1em;
            margin: 0px;
        }
    }
}


.comments-form {
    input ,textarea {
        float: left;
        clear: both;
        margin-bottom: 20px;
        border: none;
        outline: none;
    }

    input[type="text"] , input[type="email"] , textarea {
        width: 60%;
        padding: 10px;
        border-bottom: 1px solid $border-color;
    }

    input[type="text"]:focus , input[type="email"]:focus , textarea:focus {
        border-bottom: 1px solid $accent-color;
    }
    textarea {
        min-height: 160px;
        width: 100%;
    }

    p {
        clear: both;

    }
}

/* -------------------------------------------------------------*/
/* Shortcodes  */
/* -------------------------------------------------------------*/
div.shortcode-accordion {
    .item {
        @extend %float;
        margin-bottom: 10px;
        > a {
            @extend %float;
            background: #f6f6f6;
            padding: 10px 20px;
            border-radius: 1px;
        }

        .content {
            @extend %float;
            padding-left: 20px;
            padding-top: 20px;

            li {
                margin-bottom: 10px;
                &:before {
                    content: '•';
                    opacity: 0.3;
                    margin-right: 10px;

                }
            }
        }
    }
}

/* -------------------------------------------------------------*/
/* Sidebar  */
/* -------------------------------------------------------------*/
#sidebar-widgets-container {
    .widget {
        background: #fff;
        margin-bottom: $gap;
        @extend %float;
        padding: 35px;
        border-bottom: 1px solid #E2E2E2;

        @extend %widget-title;


        .social-icons-colored {
            @extend %float;
            @extend %social-icons-small;
            margin-top: 5px;
        }

    }

}

// Global Widgets (Footer And Sidebar)

/* - Poluar Posts - */
.widget {
    .user-content {
        margin-top: 20px;
        @extend %float;
    }
    .widget-content.popular-posts {
        .post {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid $alt-border-color;
            @extend %float;

            a {
                display: block;
                font-size: $h6-font-size;
                font-family: $headers-font-family;
                color: $headers-font-color;
                font-weight: 600;
                text-transform: uppercase;
                line-height: $sub-headers-line-height;

                span {
                    color: $meta-font-color;
                    font-family: $body-font-family;
                    font-size: $meta-font-size;
                    line-height: 1em;
                    text-transform: none;
                    margin-top: -2px;
                    float: left;

                    &.comments {
                        margin-left: 20px;
                        display: none;
                    }

                }
            }
            .post-img {
                float: left;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $img-background;
                img {
                    max-width: none;
                    max-height: 100%;
                }

            }

            a:not(.post-img){
                margin-left: 100px;
            }

            &:last-of-type {
                margin-bottom: 0px;
                padding-bottom: 0px;
                border-bottom: none;
            }


        }
    }


    /* - Instagram - */
    .widget-content .instagram {
        a {
            width: 95px;
            height: 95px;
            float: left;
            background-color: $img-background;
            margin-right: 1px;
            margin-bottom: 1px;
            overflow: hidden;
            transition: opacity , $transition-duration;

            img {
                max-width: none;
                max-height: 100%;
            }
        }
    }


    /* - Social - */
    .widget-content.social {
        @extend %social-icons-colored-large;
        a {
            margin-bottom: 10px;
        }
    }

    /* - Custom list - */
    ul.custom-list {
        margin-top: -15px;
        @extend %float;
        li {
            @extend %float;
            padding: 15px 0px;
            border-bottom: 1px solid $alt-border-color;
            &:last-of-type {
                border-bottom: 0px;
                padding-bottom: 0px;
            }
            a {
                float: left;
                line-height: 1em;
                margin-top: 5px;

            }
            span.count {
                float: right;
                border-radius: 50%;
                border: 1px solid $alt-border-color;
                padding: 8px 7px;
                font-size: 10px;
                line-height: 1em;
                color: $meta-font-color;
                min-width: 28px;
                text-align: center;
            }
        }
    }
}

.widget .tagcloud a {
    font-size: 11px !important;
    line-height: 1em !important;
}
/* -------------------------------------------------------------*/
/* Footer  */
/* -------------------------------------------------------------*/

footer {
    background-color: #fff;
    @extend %float;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: $gap;
    .widget {
        @extend %widget-title;

        .widget-content {
            .social_icons {
                @extend %social-icons-large;
                margin-top: 20px;
                @extend %float;
            }
        }
    }
}

.twitter-feed-container {
    @extend %float;
    .tweet {
        @extend %float;
        margin-bottom: 15px;
        &:after{
            content: '';
            margin-top: 15px;
            @extend %float;
            width: 40px;
            height: 1px;
            background-color: $alt-border-color;
        }
        &:last-child {
            margin-bottom: 0px;
            &:after {
                display: none;
            }
        }

        a {
            float: left;
            &.special-link {
                margin-right: 4px;
                color: $accent-color;

            }
        }
        div.meta {
            @extend %float;
            margin-top: 10px;
            i , span {
                color: $meta-font-color;
                line-height: 1em;
            }
            span {
                font-size: 12px;
                float: left;
                line-height: 16px;
            }
            i.fa {
                margin-right: 10px;
                font-size: 16px;
                float: left;

            }
        }
    }
}

.tagcloud {
    @extend %float;
    margin-right: -10px;
    a {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 13px 20px;
        border-radius: 50px;
        color: #999999;
        background-color: #F2F2F2;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 1em;
        font-weight: normal;
        transition: all , $transition-duration;
        &:hover {
            background-color: $accent-color;
            color: #fff;
        }
    }
}

/* -------------------------------------------------------------*/
/* Animation  */
/* -------------------------------------------------------------*/
.post-title a , .navigation-menu a {
    transition: color , $transition-duration;
}
.faded {
    transition: opacity , $transition-duration;
    opacity: 0.5;
}

/* -------------------------------------------------------------*/
/* Form  */
/* -------------------------------------------------------------*/
#navigation .searchform form , .widget-content form {
    background: #f1f1f1;
    border-radius: 100px;
    height: 45px;
    float: left;
    clear: both;
}
#navigation .searchform input[type="text"]  , .widget-content form input[type="text"] {
    line-height: 43px;
    padding: 0px 20px;
    background: none;
    border: none;

}

.wpcf7-form {
    @extend %form;
    input[type=text] , input[type=email] {
        width: 70%;
    }
    textarea {
        width: 100%;
        margin-bottom: 20px;
    }
    .wpcf7-submit {
        @extend .button;
        @extend .button-with-background;
        outline: none;
        border: none;
    }
    .wpcf7-not-valid-tip {
        font-size: 12px;
    }
}


/* -------------------------------------------------------------*/
/* Wordpress Default Elements Style  */
/* -------------------------------------------------------------*/
.single-post {
    .post-content-outer {

        .post-content-inner {

            table {
            	border-collapse: separate;
            	border-spacing: 0;
            	border-width: 1px 0 0 1px;
            	margin: 0 0 1.6em;
            	table-layout: fixed; /* Prevents HTML tables from becoming too wide */
            	width: 100%;
            }

            caption,td  , th {
            	border: 1px solid #f3f3f3;
            	font-weight: normal;
            	text-align: center;
            	padding: 3px;
            }

            dl {
            	margin-bottom: 1.6em;
            }

            dt {
            	font-weight: bold;
            }

            dd {
            	margin-bottom: 1.6em;
            }



            ul {
            	list-style: disc;
            	float: left;
            	clear: both;
            	width: 100%;
            	margin-bottom: 5px;
            }

            ul ul,  ol ol {
              padding-left: 20px;
              margin: 0px 0px 0px 0px;
            }

            li  {
              float: left;
              clear: both;
              width: 100%;
              margin: 5px 0px;

            }
            ul li {
               list-style: disc !important;
               list-style-position: inside !important;
            }

            address,
            pre,
            hr{
            	margin-bottom: 10px;

            }

            address {
              font-style: italic;
            }


            pre {
            	background-color: transparent;
            	background-color: rgba(0, 0, 0, 0.01);
            	border: 1px solid #eaeaea;
            	border: 1px solid rgba(51, 51, 51, 0.1);
            	line-height: 1.2;
            	margin-bottom: 1.6em;
            	max-width: 100%;
            	overflow: auto;
            	padding: 0.8em;
            	white-space: pre;
            	white-space: pre-wrap;
            	word-wrap: break-word;

            }


            abbr[title] {
            	border-bottom: 1px dotted #eaeaea;
            	border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
            	cursor: help;
            }

            mark,
            ins {
            	background-color: #fff9c0;
            	text-decoration: none;
            }

            sup,
            sub {
            	font-size: 75%;
            	height: 0;
            	line-height: 0;
            	position: relative;
            	vertical-align: baseline;
            }

            sup {
            	bottom: 1ex;
            }

            sub {
            	top: .5ex;
            }

            small {
            	font-size: 75%;
            }

            big {
            	font-size: 125%;
            }


            hr {
            	background-color: #eaeaea;
            	background-color: rgba(51, 51, 51, 0.1);
            	border: 0;
            	height: 1px;
            	margin-bottom: 1.6em;
            }
        }
    }
}

.widget-content {
    select {
        float: left;
        clear: both;
        width: 100%;
        margin-top: 5px;
    }

    img {
        min-height: auto;
        height: auto;
    }

    form select {
      border: none;
      margin-top: 12px !important;
      float: left;
      clear: both;
      width: 90% !important;
      margin-left: 5%;
    }

    #calendar_wrap {

        table {
            	border-collapse: separate;
            	border-spacing: 2px;
            	border-width: 0px 0 0 1px;
            	margin: 0 0 1.6em;
            	table-layout: fixed; /* Prevents HTML tables from becoming too wide */
            	width: 100%;

                caption,td  , th {
                	border-bottom: 1px solid #f0f0f0;
                	font-weight: normal;
                	text-align: center;
                	padding: 10px;
                	line-height: 1em;
                }

                #prev , #next {
                    padding-top: 20px
                }
                #prev {
                    text-align: left;
                }
                #next {
                    text-align: right;
                }

                caption {
                  text-transform: uppercase;
                  font-weight: bold;
                  margin-bottom: 5px;
                  border-top: none;
                  border-left: none;
                  border-right: none;
                }
            }
    }


    li.page_item {
      float: left;
      clear: both;
      width: 100%;
      margin-bottom: 5px;
      list-style: disc ;
      list-style-position: inside;
    }


    #recentcomments {
        .recentcomments {
          float: left;
          clear: both;
          width: 100%;
          margin-bottom: 5px;

          span , span a {
              color: $accent-color;
          }
        }
    }

    ul.instagram-pics {
        li {
            list-style: none;
            float: left;
            width: 95px;
            background-color: $img-background;
            margin-right: 1px;
            margin-bottom: 1px;
            overflow: hidden;
            transition: opacity , $transition-duration;
        }
    }

}
/* -------------------------------------------------------------*/
/* Responsive  */
/* -------------------------------------------------------------*/
@import "responsive.scss";
