

@media only screen and (max-width : 1280px) {
.whatisfstjob > .inrwhatisfst,
#whtfst_job .item{height:350px;}
.inrwht_cont{top:40px;}
.whatisfstjob > .inrwhatisfst{width:70%}
.owl-pagination::after{height:340px !important;}
.owl-theme .owl-controls .owl-page{margin:33px 0;}

.who_isfstjob > .inr_whofstjob > p{padding:10px 0;}
.who_isfstjob > .inr_whofstjob > ul{margin:30px 0 0 0;}
.perfectJob{padding:30px 0;}
.iconbox ul li:nth-child(3) .comnbox,
.iconbox ul li:nth-child(4) .comnbox{margin-top:0px;}
.iconbox ul li{margin-top:0px;}
.comnarow_bg{background-position:10% center, 90% center;}
.comnarow_bottom_bg{background-position:10% center, 90% center;}
.inr_perbg{background-size:200px;}

.r_u_ready > .inr_ruready{padding:30px 0}
.r_u_ready > .inr_ruready > p{margin:5px 0;}

.inrInfo ul.blgpost > li .postimg img{width:auto;}
.jobImg p,.job_cont p{margin-top:0; font-size:14px;}

}
@media only screen and (max-width : 900px) {
.who_isfstjob > .inr_whofstjob,
.inr_per_Job,
.r_u_ready > .inr_ruready,
.our_vision > .inr_r_vision,
.inrInfo,
.cont_form{width:80%;}
.whatisfstjob > .inrwhatisfst{width:600px;}
.who_isfstjob > .inr_whofstjob > ul > li{padding:40px 15px;}
.iconbox ul li{padding-bottom:10px;}
.jobImg p,.job_cont p{margin-top:0; font-size:14px;}
.our_vision{padding:30px 0 0 0;}
}
@media only screen and (max-width : 770px) {
.who_isfstjob{padding:30px 0;}
.who_isfstjob > .inr_whofstjob > ul > li{width:100%;}
.who_isfstjob > .inr_whofstjob > ul > li:nth-child(2){margin:20px 0;}
.main_jobbox{width:49%; height:none;}
.cont_form p{margin:4px 0;}
.cont_form p > textarea{height:100px;}
.jobImg p, .job_cont p{margin-top:40px;}
.ban_content > h2.size{ font-size:5em;}
.whats_grid .whats_inner_grid ul li{ width:100%;}
.whats_grid .whats_inner_grid ul li:nth-child(2){ margin:0px;}
.clients_grid_lrftrightpart .clients_Left_text,.clients_grid_lrftrightpart .clients_Right_IMG{ width:100%;}
.clients_grid_lrftrightpart .clients_Left_text .Left_content{ padding:20px 0;}
.clients_grid_lrftrightpart .clients_Left_text .Left_content ul{ padding:0 30px; width:50%;}
.clients_grid_lrftrightpart .clients_Left_text .Left_content ul li{ padding:0 0 0 38px; letter-spacing:0px;}
.VedioIMG,.InterViewText{ width:100%;}
.Media_grid{ display:none;}
.Media_gridMOB{ display:block;}
.Media_gridMOB .Media_Inner_gridMOB .InnerDivMedia{ width:100%; margin:0px;}
}
@media only screen and (max-width : 650px) {
.whatisfstjob > .inrwhatisfst,
.inrwht_cont{width:350px;}
.inrwht_cont{left:-175px; top:0; background:rgba(255, 255, 255, 0.4); height:350px;}
.who_isfstjob > .inr_whofstjob, .inr_per_Job, .r_u_ready > .inr_ruready, .our_vision > .inr_r_vision, .inrInfo, .cont_form{width:90%;}
.benefit_isfstjob > .inr_benefstjob > ul > li,.whats_grid .whats_inner_grid ul li{ width:100%;}
.whats_gride .whats_inner_grid ul li{ width:100%;}
.VedioIMG,.InterViewText{ width:100%;}
.clients_grid_lrftrightpart .clients_Left_text,.clients_grid_lrftrightpart .clients_Right_IMG{ width:100%;}
.clients_grid_lrftrightpart .clients_Left_text .Left_content{ padding:20px 0;}
.clients_grid_lrftrightpart .clients_Left_text .Left_content ul{ padding:0 30px; width:100%;}
.clients_grid_lrftrightpart .clients_Left_text .Left_content ul li{ padding:0 0 0 38px; letter-spacing:0px;}
.clients_grid_lrftrightpart .clients_Right_IMG img{ max-width:100%;}
.Media_gridMOB{ width:70% !important;}
}
@media only screen and (max-width : 480px) {
.ban_content{width:100%; left:0; margin:0 auto; top:30%;}
.ban_content > h2{font-size:46px}
.ban_content > p{font-size:16px; width:100%;}
.whatisfstjob{padding:30px 0;}
.inrwhatisfst .getitnow{margin:25px 0 0 0;}
.owl-theme .owl-controls{right:-20px;}
.main_jobbox{width:250px; float:none; margin:10px auto;}
.inrInfo ul.blgpost > li{width:100%; float:left;}
.inrInfo ul.blgpost > li:nth-child(2){margin:50px 0 0 0;}

.inr_perbg{background:none;}
.iconbox ul li .comnbox{width:140px;}
.iconbox ul li:nth-child(1) .comnbox{text-align:left;}
.iconbox ul li:nth-child(3) .comnbox{text-align:left;}
.iconbox ul li:nth-child(2) .comnbox{text-align:right;}
.iconbox ul li:nth-child(4) .comnbox{text-align:right;}
.comncont_bottom p, .comncont p{width:180px;}
.comnarow_bottom_bg{background-position:10% top, 90% top;}
.comncont_bottom{padding:10px 0 0 0;}

.inrInfo ul.blgpost > li:hover .postcont{height:100px;}
}
@media only screen and (max-width : 370px) {
.whatisfstjob > h2{width:100%;}
.whatisfstjob > p{width:90%;}

.whatisfstjob > .inrwhatisfst, .inrwht_cont{width:260px;}
.inrwht_cont{left:-130px;}
.inrwht_cont .item h3{font-size:18px; padding:10px 0;}
.inrwht_cont .item p{line-height:18px;}
}

@media only screen and (max-width : 300px) {
.topnav > .inrnavi > .navi > ul > li{ padding:0 5px;}
}
