@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; outline:none;}
body{font-family: 'Roboto Condensed', sans-serif!important; font-size:16px!important; color:#858484!important; font-weight:400; background:#f1f1f1!important;}
input,textarea { border: 0; display: block; outline: none; font-family: 'Roboto Condensed', sans-serif; font-size: 12px; color: #000; }
img, a { outline: none!important; }
input,textarea{border:0;display:block;outline:none;}
img,input{border:none;display:block;outline:none;}
header, section, footer, aside, nav, main, article, figure{display:block;} 
a{-moz-transition:all 0.2s ease 0s;	-ms-transition:all 0.2s ease 0s;-o-transition:all 0.2s ease 0s;-webkit-transition:all 0.2s ease 0s;transition:all 0.2s ease 0s; text-decoration:none;}
a:hover, a:focus { text-decoration:none; }
ul, li { margin:0px; padding:0px; list-style-type:none; }
input, button { outline:0px; }
header, section, footer, aside, nav, main, article, figure { display: block; } 


/*header*/ 
.header{ position:relative; background:#FFF; box-shadow: 10px 10px 5px; box-shadow:0 0px 5px; }
span.menu_icon{ position:absolute; top:31px; left:53%; }
.logo{ float:left; }
.cart_sec li{ display:inline-block; list-style-type:none; padding:0 0 0 40px; }
.cart_sec ul{ position:absolute; right:6%; top:44px; z-index:999999; }
li.setting_icon{ position:relative; }
li.setting_icon span.bell img{ position:absolute; top:-24px; right:-13px; }
.cart_sec a.bell_num{ position:absolute; top:-6px; right:57%; text-align:center; font-size:10px; background:#51a6b9; color:#FFF; border:1px solid rgb(81, 166, 185); border-radius:16px; height:16px; width:16px; }
li.msg_icon a.msg_num{ position:absolute; right:18%; top:-4px; text-align:center; font-size:10px; background:#51a6b9; color:#FFF; border:1px solid rgb(81, 166, 185); border-radius:16px; height:16px; width:16px; }
li.msg_icon img{ position:absolute; right:26%; top:0; }
.header-profile-sec{ float:right; padding:20px 0; }
span.header-profile{ font-size:15px; color:#33333b; width:169px; background:#f1f1f1; border: 1px solid #f1f1f1; border-radius: 50px; float: right; padding: 16px 12px 16px 62px;}
.header-profile-sec .dropdown-menu{ position:absolute; left:75%; }
.signin_img{ background:url(../images/sign_img.png) left center no-repeat; width:46px; height:46px; z-index:9999999; border-radius:46px; position:absolute; top:24px; right:20%; }
span.dash_img{ float:left; padding:0 14px 0 0; }
.list_content ul li{ font-size:15px; border-bottom:1px solid rgb(72, 72, 79); padding:25px 30px; }

.list_content ul{ background:#33333b; width:263px; height:auto; }
span.search_img{ float:left; padding:0 14px 0 0; }
span.mgt_inter_img{ float:left; padding:0 14px 0 0; }
span.mgt_ass_img{ float:left; padding:0 14px 0 0; }
span.manage_jobs_img{ float:left; padding:0 14px 0 0; }
span.que_img{ float:left; padding:0 14px 0 0; }
span.manage_corp_img{ float:left; padding:0 14px 0 0; }
span.manage_user_img{ float:left; padding:0 14px 0 0; }
span.analy_img{ float:left; padding:0 14px 0 0; }
span.ticker_img{ float:left; padding:0 14px 0 0; }
span.lst_name a{ color:#a5a5aa; }
span.lst_name a:hover{ text-decoration:none; }
col_right_bg{ background: #FFF; }
h3.edit_user{ font-size:28px; color:#33333b; }
.edit_user_img{ float:left; position:relative; z-index:9999999; background: #ccc; }
#form-structure .form-control:focus{ box-shadow:none; }
#form-structure .form_input{ float:right; }
#form-structure input.form-control{ width:210px; margin:5px 0 10px; height:32px; font-size:16px; color:#33333b; border:1px solid #a8a8a8; border-radius:0; }
.col_right_bg .form-group { margin:0px; }
.col_right_bg .form-group label { }
.col_right_bg span.nme_dot{ padding-left:48px; }
.col_right_bg .mob_dot2{ padding-left:43px; }
.col_right_bg .email_dot{ padding-left:50px; }
.col_right_bg .loc_dot{ padding-left:31px; }
.col_right_bg #form-structure label{ font-size:16px; color:#33333b; font-weight:400; padding:10px;   }
#form-structure2 .form-control:focus{ box-shadow:none; }
#form-structure2 .form_input{ float:right; }
#form-structure2 input.form-control{ width:220px; margin:0 0 7px; height:32px; font-size:16px; color:#33333b; border:1px solid #a8a8a8; border-radius:0; }
.col_right_bg .rol_dot{ padding-left:28px; }
.col_right_bg .gender_dot{ padding-left:11px; }
.col_right_bg .dob_dot{ padding-left:29px; }
.col_right_bg .status_dot{ padding-left:15px; }
.col_right_bg #form-structure2 label{ font-size:16px; margin-left:20px; color:#33333b; font-weight:400; padding:10px; }
form#form-structure2{ width:290px; }
.col_right_bg .col-lg-3.col-lg-3{ padding-left:0; }
select.option_pro{ background:url(../images/select_menu_icon.png) 197px center no-repeat; padding:0 0 0 12px; width:217px; margin:5px 0 7px; -moz-appearance:none; -moz-user-select:none; -webkit-appearance: none; -ms-appearance: none; -o-appearance: none; height:32px; font-size:16px; color:#33333b; border:1px solid #a8a8a8; border-radius:0; }
.option_pro::-ms-expand{ display: none; }
.col_right_bg .col-lg-6.col-lg-6{ background:#f1f1f1; margin:0 0 14px; }
.list_content .col-lg-11.col-md-11{ background:#fff ; margin:30px 0 65px 0; padding:20px; box-shadow:0 0 5px 1px rgb(218, 218, 218); }
.col_right_bg{ position:relative; }
.pencil_icon_img{ position:absolute; top:0; right:9%; top:17px; }
.col_right_bg span.edt_user{ position:absolute; right:10px; top:15px; color:#000; }
span.edt_user a{ color:#000; font-size:14px; }
span.edt_user a:hover{ text-decoration:none; }
.content_para{ background:#f1f1f1; float:left; padding:0 0 8px; }
.content_para .para_sec{ background:#FFF; font-size:14px; padding:8px 8px 0 8px; text-align:justify; border:1px solid #a8a8a8; color:#33333b; }
p.col_para{ line-height:23px; padding:0 0 10px 0; }
h3.para_head{ color:#33333b; font-size:19px; }
h3.para_head{ border-bottom:1px solid #d8d8d8; padding:0 0 11px 0;  }
.content_form{ background:#f1f1f1; float:left; margin:13px 0 13px 0; width:100%; }
#form-structure3 label.col-sm-1{ font-size:14px; width:123px; color:#33333b; font-weight:400; }
#form-structure3 input#name{ box-shadow:none; border-radius:0; width:220px; height:32px; border:1px solid #a8a8a8; font-size:16px; font-weight:bold; }
#form-structure3 .form-control:focus{ border-color:#a8a8a8; }
#form-structure3 input#des{ box-shadow:none; border-radius:0; width:220px; height:32px; border:1px solid #a8a8a8; font-size:14px; color:#33333b; }
#form-structure3 label.com_name{ float:left; padding:0 0 0 10px; font-size:14px; color:#33333b; }
#form-structure3 span.com_dot{ padding-left:30px; }
#form-structure3 span.des_dot{ padding-left:50px; }
#form-structure3 span.add_dot{ margin-left:71px; }
button.save_btn{ width:109px; height:34px; border:none; background:#f9a727; color:#FFF; font-weight:600; }
span.lst_name a{ text-decoration:none; }
span.lst_name a:hover{ color:#438aab; }
.pencil{ position:absolute; right:6px; top:8px;}
.header-profile-sec b.caret-up{  border:4px solid rgba(0, 0, 0, 0); border-right:4px solid rgba(0, 0, 0, 0); border-top: 4px dashed;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
	border-style: dashed solid solid;
    border-width: 4px;  }


// css by sarvat
.option_prod{ background:url(../images/select_menu_icon.png) 197px center no-repeat; padding:0 0 0 12px; width:217px; margin:5px 0 7px; -moz-appearance:none; -moz-user-select:none; -webkit-appearance: none; -ms-appearance: none; -o-appearance: none; height:32px; font-size:16px; color:#33333b; border:1px solid #a8a8a8; border-radius:0; }
.pick-date {
    width:216px!important;
}
.content-text {
    width:770px;
    height: 167px;
}
.per-name {
    padding: 0px !important;
}

.required-field:after {
    color: #d00;
    content: "*";
}
.userImageUpload {
    position: absolute;
    margin: 4px 0;
    opacity: 0;
    width: 148px;
    height: 148px;
    z-index: 20;
}

#fimageName { 
    padding: 0px 43px;
}
.pencil {
    z-index: 10!important;
}

#viewUser input, #viewUser select, #viewUser textArea {
    border: none !important;
    background: none;
}
#viewUser .para_sec {
    background: none !important;
    border: none !important;
}
#viewUser textarea:focus, input:focus{
    outline: none;
}