@charset "utf-8";
 CSS Document 

@media only screen and(max-width:1200px)
{
	
}

@media only screen and (min-width:991px) and (max-width:1024px)
{
	.col_right_bg .col-lg-6.col-lg-6{ float:left; }
	.col_right_bg .col-lg-3.col-lg-3{ float:left; }
	.col_right_bg #form-structure label{ font-size:14px; }
	.col_right_bg span.nme_dot{ padding-left:15px; }
	.col_right_bg .mob_dot2{ padding-left:16px; }
	.col_right_bg .email_dot{ padding-left:22px; }
	.col_right_bg .loc_dot{ padding-left:6px; }
	#form-structure input.form-control{ font-size:14px; width:117px; }
	.col_right_bg #form-structure2 label{ font-size:14px; }
	select.option_pro{ font-size:14px; width:159px; background:rgba(0, 0, 0, 0) url("../images/select_menu_icon.png") no-repeat scroll 134px center; }
	form#form-structure{ width:162px; }
	.col_right_bg .mob_dot2{ padding-left:10px; }
	.col_right_bg .email_dot{ padding-left:16px; }
	.col_right_bg .loc_dot{ padding-left:1px; }
	#form-structure input.form-control{ height:28px; }
	.pencil_icon_img{ right:11%; }
	select.option_pro{ margin:5px 4px 0 0; }
	.list_content ul{ width:239px; height:871px; }
	span.menu_icon{ left:65%; }
	.cart_sec ul{ right:-10%; }
	.signin_img{ right:24%; }
	form#form-structure2{ width:236px; }
   .header-profile-sec .dropdown-menu{ left:68%; }
}

@media only screen and (min-width:768px) and (max-width:990px)
{
	.col_right_bg #form-structure label{ float:left; font-size:14px; }
	.col_right_bg .col-lg-3.col-lg-3{ float:left; }
    .col_right_bg .col-lg-6.col-lg-6{ float:left; }
	#form-structure input.form-control{ width:123px; font-size:13px; }
	.col_right_bg span.nme_dot{ padding-left:19px; }
	.col_right_bg .mob_dot2{ padding-left:14px; }
	.col_right_bg .email_dot{ padding-left:21px; }
	.col_right_bg .loc_dot{ padding-left:2px; }
	.pencil_icon_img{ right:13%; }
	.header .col-lg-9.col-md-9.col-sm-6.col-xs-15{ float:right; }
	.signin_img{ left:38%; }
	.cart_sec ul{ right:-44%; }
	.header-profile-sec .dropdown-menu{ top:81px; left:38%; }
	span.menu_icon{ left:84%; }
	select.option_pro{ padding:0 0 0 5px; background:rgba(0, 0, 0, 0) url("../images/select_menu_icon.png") no-repeat scroll 85px center; width:106px; font-size:13px; }
	.list_content ul{ width:181px; font-size:14px; }
	.list_content ul li{ font-size:12px; }
	form#form-structure2{ width:170px; }
	.col_right_bg #form-structure2 label{ font-size:14px; }
	.col_right_bg .rol_dot{ padding-left:24px; }
	.col_right_bg .gender_dot{ padding-left:9px; }
	.col_right_bg .dob_dot{ padding-left:25px; }
	.col_right_bg .status_dot{ padding-left:13px; }
    #form-structure input.form-control{ margin:5px 0;}
}

@media only screen and (max-width:767px)
{
  .cart_sec ul{ right:6%; } 
  .signin_img{ right:22%; }
  .header-profile-sec .dropdown-menu{ left:0; top:60px; right:0; }
  #form-structure input.form-control{ width:86%; font-size:14px; }
  .col_right_bg span.nme_dot{ padding-left:20px; }
  .col_right_bg .email_dot{ padding-left:21px; }
  .col_right_bg .mob_dot2{ padding-left:15px; }
  .cart_sec li{ padding:0 0 0 34px; }
  .col_right_bg .loc_dot{ padding-left:4px; }
  select.option_pro{ width:142px; background:rgba(0, 0, 0, 0) url("../images/select_menu_icon.png") no-repeat scroll 450px center; }
  form#form-structure{ width:100%; }
  form#form-structure2{ width:100%; }
  .edit_user_img{ float:none; text-align:center; display:block; }
  span.edit_user_img .img-responsive{ max-width:100%; margin:0 auto; }
  #form-structure input.form-control{ margin:5px 0; }
  #form-structure3 label.com_name{ padding:0 15px 0 10px; }
  .col_right_bg #form-structure label{ font-size:14px; }
  .col_right_bg #form-structure2 label{ font-size:14px; float:left; margin-left:0; }
  select.option_pro{ width:157px; }
  .col_right_bg .rol_dot{ padding-left:30px; }
  .col_right_bg .gender_dot{ padding-left:15px; }
  .col_right_bg .dob_dot{ padding-left:29px; }
  .col_right_bg .status_dot{ padding-left:17px; }
  .pencil{ right:40%; }
  span.menu_icon{ left:42%; } 
  .col_right_bg span.edt_user{ right:0; }
  .pencil_icon_img{ right:12%; }
 #form-structure .form_input{ float:none; }
 .col_right_bg #form-structure label{ float:left; }
 #form-structure2 .form_input{ float:none; }
 select.option_pro{ width:85%; }
 .header .logo{ float:none; }
 .logo .img-responsive{ margin:0 auto; }
 .header-profile-sec{ float:none; text-align:center; }
 span.header-profile{ float:none; }
 .signin_img{ right:0; left:-18%; margin:0 auto; top:8px; }
}
@media only screen and (max-width:640px)
{
	span.menu_icon{ left:40%; }

	
	
}

@media only screen and (max-width:360px)
{
	 .header-profile-sec{ float:none; text-align:center; }
	 span.header-profile{ width:100%; float:none; }	
	.signin_img{ left:-33%; right:0; margin:0 auto; top:15%; }
    .header .logo{ float:none; }
	.logo .img-responsive{ margin:0 auto; }
	span.menu_icon{ top:0; right:0; }
	.header-profile-sec .dropdown-menu{ left:0; margin:0 auto; right:0; }
	.cart_sec li{ padding:0 0 0 23px; }
	.cart_sec ul{ right:6%; }
    .pencil_icon_img{ right:23%; }
	#form-structure3 input#name{ width:159px; }
	#form-structure3 input#des{ width:159px; }
	.col_right_bg .col-lg-3.col-lg-3{ float:none; }
	.edit_user_img .img-responsive{ margin:0 auto; }
	.edit_user_img{ float:none; }
	.col_right_bg .col-lg-6.col-lg-6{ float:none; }
	.col_right_bg #form-structure label{ float:left; }
	#form-structure .form_input{ float:left; }
	#form-structure input.form-control{ width:100%; }
	.col_right_bg #form-structure2 label{ float:left; margin-left:0; }
	.col_right_bg .rol_dot{ padding-left:26px; }
	#form-structure2 .form_input{ float:none; }
	select.option_pro{ width:48%; font-size:14px; }
	.col_right_bg .gender_dot{ padding-left:11px; }
	.col_right_bg .dob_dot{ padding-left:26px; }
	.col_right_bg .status_dot{ padding-left:14px; }
    .pencil{ right:31%; top:11px;  }
     .pencil_icon_img{ right:19%; }
   span.menu_icon .img-responsive {
	 max-width: 100%;
	 position: absolute;
	 right: 27%; }
	 
}

@media only screen and (max-width:480px)
{
	.logo{ float:none; }
	.signin_img {
    left: -23%;
    margin: 0 auto;
    right: 0;
    top:8px; 
}
.header-profile-sec {
    float: none;
    padding: 20px 0;
    text-align: center;
}
span.header-profile{ float:none; }
.header .logo .img-responsive{ margin:0 auto; }
.cart_sec ul{ right:20px; }
.cart_sec li{ padding:0 0 0 27px; }
.header-profile-sec .dropdown-menu{ left:0; right:0; top:60px; }
span.menu_icon{ left:72%; top:0; }
.cart_sec ul{ top:77px; }
#form-structure input.form-control{ width:82%; }
select.option_pro{ font-size:14px; }
}


@media only screen and (max-width:320px){
	select.option_pro{ width:54%; }
	.col_right_bg span.edt_user{ right:0; }
	#form-structure3 input#name{ width:119px; }
	#form-structure3 input#des{ width:119px; }
   span.menu_icon .img-responsive{ position:absolute; right:0;  max-width:100%; }
   .pencil_icon_img{ right:21%; }
   .signin_img { left: -34%;}