@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),  
  		url('fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.woff') format('woff'), 
		url('fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.ttf')  format('truetype'), 
		url('fonts/AvenirNextLTPro-Demi/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edmondsans-Bold';
  src: url('fonts/Edmondsans-Bold/Edmondsans-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('fonts/Edmondsans-Bold/Edmondsans-Bold.otf')  format('opentype'),
	    url('fonts/Edmondsans-Bold/Edmondsans-Bold.woff') format('woff'), 
		url('fonts/Edmondsans-Bold/Edmondsans-Bold.ttf')  format('truetype'), 
		url('fonts/Edmondsans-Bold/Edmondsans-Bold.svg#Edmondsans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edmondsans-Medium';
  src: url('fonts/Edmondsans-Medium/Edmondsans-Medium.eot?#iefix') format('embedded-opentype'),  
  		url('fonts/Edmondsans-Medium/Edmondsans-Medium.woff') format('woff'), 
		url('fonts/Edmondsans-Medium/Edmondsans-Medium.ttf')  format('truetype'), 
		url('fonts/Edmondsans-Medium/Edmondsans-Medium.svg#Edmondsans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{letter-spacing:1px;}
h2,a{font-family:'Edmondsans-Bold' !important;}
.post-content-inner,p,pre{font-family:'Edmondsans-Medium' !important;}



.slider-title{font-size:50px; font-family:'AvenirNextLTPro-Demi' !important;}
.widget-content a{font-family:'Edmondsans-Medium' !important;}
.navigation-menu a{font-family:'Edmondsans-Medium' !important;}
