@charset "UTF-8";
/* -------------------------------------------------------------*/
/* Style Settings  */
/* -------------------------------------------------------------*/
/*
    Fonts used :
    Raleway for headers and navigation
    Lato for content
*/
/* -------------------------------------------------------------*/
/* Gaps and Borders  */
/* -------------------------------------------------------------*/
/* -------------------------------------------------------------*/
/* Colors  */
/* -------------------------------------------------------------*/
/* -------------------------------------------------------------*/
/* Typography  */
/* -------------------------------------------------------------*/
/* -------------------------------------------------------------*/
/* Flexslider  */
/* -------------------------------------------------------------*/
/* line 106, ../sass/mixins.scss */
.post-media .flex-direction-nav {
  top: 0px !important;
  height: 100% !important;
}
/* line 109, ../sass/mixins.scss */
.post-media .flex-direction-nav li {
  top: auto;
  bottom: 20px;
}
/* line 113, ../sass/mixins.scss */
.post-media .flex-direction-nav li a {
  border-width: 1px !important;
}
/* line 117, ../sass/mixins.scss */
.post-media .flex-direction-nav li.flex-nav-prev {
  right: 60px !important;
  left: auto !important;
}
/* line 122, ../sass/mixins.scss */
.post-media .flex-direction-nav li.flex-nav-next {
  right: 10px !important;
}

/*
    Theme Name: Dawn
    Author: MontuThemes
*/
/* -------------------------------------------------------------*/
/* Elements  */
/* -------------------------------------------------------------*/
/* line 11, ../sass/style.scss */
.post-author .content .widget-title, #sidebar-widgets-container .widget .widget-title, footer .widget .widget-title, .margin, body, body > section, body > footer, h1, h2, h3, h4, h5, h6, .post-content-box, section#navigation .col-md-12 .navigation-menu ul li ul li, section#navigation-responsive .col-md-12 .navigation-menu ul li ul li, section#navigation .col-md-12 .navigation-menu ul li ul li a, section#navigation-responsive .col-md-12 .navigation-menu ul li ul li a, section#navigation form input, section#navigation-responsive form input, #navigation-responsive .row .logo-wrapper, #navigation-responsive .row .right-panel, #navigation-responsive .row .right-panel .navigation-menu, #navigation-responsive .row .right-panel ul, #navigation-responsive .row .right-panel ul li, #navigation-responsive .row .right-panel ul li a, #navigation-responsive .row .searchform, section#slider-classic, section#slider-classic .slides-container, #slider-grid .grid-item .item-image, .single-post, .single-post .post-media .inline-gallery, .single-post.post-type-quote .post-content-outer .quote-wrapper, .single-post.post-type-quote .post-content-outer .quote-wrapper i, .single-post.post-type-quote .post-content-outer .quote-wrapper span, .single-post.post-type-quote .post-content-outer .quote-wrapper h2, .single-post .post-content-outer, .single-post .post-content-outer .post-meta-top, .single-post .post-content-outer div.post-title, .single-post .post-content-outer div.post-title:after, .single-post .post-content-outer div.post-content-inner, .single-post .post-content-outer div.post-meta-bottom, .pagination, #blog-classic.grid-blog .pagination, .post-content-inner .blockquote, #comments .single-comment, #comments .single-comment .sub-comments, #comments .single-comment .comment-content span.meta, #comments .single-comment .comment-content div.content, #comments .box-title, #reply-form .box-title, div.shortcode-accordion .item, div.shortcode-accordion .item > a, div.shortcode-accordion .item .content, #sidebar-widgets-container .widget, #sidebar-widgets-container .widget .social-icons-colored, .widget .user-content, .widget .widget-content.popular-posts .post, .widget ul.custom-list, .widget ul.custom-list li, footer, footer .widget .widget-content .social_icons, .twitter-feed-container, .twitter-feed-container .tweet, .twitter-feed-container .tweet:after, .twitter-feed-container .tweet div.meta, .tagcloud {
  float: left;
  clear: both;
  width: 100%;
}

/* line 17, ../sass/style.scss */
section#navigation form input[type=text], section#navigation-responsive form input[type=text], .wpcf7-form input[type=text], section#navigation form input[type=email], section#navigation-responsive form input[type=email], .wpcf7-form input[type=email], section#navigation form textarea, section#navigation-responsive form textarea, .wpcf7-form textarea {
  background: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #E2E2E2;
  font-size: 14px;
  line-height: 14px;
  color: #898989;
  padding: 16px 0px;
}

/* line 32, ../sass/style.scss */
.single-post .post-content-outer .post-meta-top a, .single-post.sticky-post .container-box .post-meta-top p, .single-post.sticky-post .pagination a .post-meta-top p, .pagination .single-post.sticky-post a .post-meta-top p, .single-post.sticky-post .pagination > span .post-meta-top p {
  color: #C2C2C2;
  font-size: 11px;
  line-height: 11px;
}

/* line 39, ../sass/style.scss */
.post-author .content .widget-title, #sidebar-widgets-container .widget .widget-title, footer .widget .widget-title {
  text-transform: uppercase;
  line-height: 1em;
  position: relative;
  margin-bottom: 40px;
}
/* line 46, ../sass/style.scss */
.post-author .content .widget-title:after, #sidebar-widgets-container .widget .widget-title:after, footer .widget .widget-title:after {
  position: absolute;
  opacity: 0.7;
  top: 150%;
  left: 0px;
  height: 3px;
  content: '';
  width: 20px;
  background-color: #4D4D4D;
}
/* line 57, ../sass/style.scss */
.post-author .content .widget-title:empty, #sidebar-widgets-container .widget .widget-title:empty, footer .widget .widget-title:empty {
  display: none;
}

/* line 63, ../sass/style.scss */
.button, .wpcf7-form .wpcf7-submit {
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 27px;
  font-size: 11px;
  line-height: 1em;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
}

/* line 74, ../sass/style.scss */
.button-small {
  padding: 11px 22px;
  font-size: 10px;
  border-width: 1px !important;
}

/* line 80, ../sass/style.scss */
.button-large {
  padding: 17px 32px;
  min-width: 70px;
  font-size: 13px;
}

/* line 86, ../sass/style.scss */
.button-with-background, .wpcf7-form .wpcf7-submit {
  background-color: #37A8E0;
  color: #fff;
}

/* line 91, ../sass/style.scss */
.button-with-white-border {
  background-color: none;
  border: 2px solid #fff;
}

/* line 95, ../sass/style.scss */
.button-with-grey-background {
  border: none;
  background-color: #F2F2F2;
  transition: background-color, 0.5s !important;
}

/* line 100, ../sass/style.scss */
.button-with-background:hover, .wpcf7-form .wpcf7-submit:hover {
  background-color: #C2C2C2;
  color: #7A7A7A;
}

/* line 105, ../sass/style.scss */
.button-with-white-border:hover, .button-with-grey-background:hover {
  background-color: #37A8E0;
  color: #fff;
  border-color: #37A8E0;
}

/* -------------------------------------------------------------*/
/* Reset  */
/* -------------------------------------------------------------*/
/* line 120, ../sass/style.scss */
img {
  max-width: 100%;
}

/* - Typography  - */
/* line 124, ../sass/style.scss */
body {
  background-color: #F4F4F4;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #898989;
  font-size: 16px;
  line-height: 28px;
}

/* line 138, ../sass/style.scss */
ul {
  padding: 0px;
}
/* line 140, ../sass/style.scss */
ul li {
  list-style: none;
}

/* line 145, ../sass/style.scss */
a:hover, a:active {
  text-decoration: none;
  color: #37A8E0;
}

/* - Headers - */
/* line 151, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-family: "Raleway", sans-serif;
  line-height: 1.2em;
  color: #4D4D4D;
}

/* line 156, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

/* line 169, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 42px;
  font-weight: 900;
}

/* line 173, ../sass/style.scss */
h2 {
  font-size: 30px;
  font-weight: 900;
}

/* line 177, ../sass/style.scss */
h3 {
  font-size: 26px;
  font-weight: 800;
}

/* line 181, ../sass/style.scss */
h4 {
  font-size: 20px;
  font-weight: 800;
}

/* line 185, ../sass/style.scss */
h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.53em;
}

/* line 190, ../sass/style.scss */
h6 {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.53em;
}

/* line 196, ../sass/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 200, ../sass/style.scss */
a {
  color: #898989;
}

/* - Sidebar And Footer - */
/* line 206, ../sass/style.scss */
.widget-content {
  font-size: 14px;
  line-height: 1.7em;
}

/* - Container Boxes - */
/* line 212, ../sass/style.scss */
.container-box, .pagination a, .pagination > span, .post-content-box {
  background: #fff;
  border-bottom: 1px solid #E2E2E2;
}

/* line 217, ../sass/style.scss */
.post-content-box {
  padding: 35px 50px 35px 50px;
  margin-bottom: 50px;
}
/* line 221, ../sass/style.scss */
.post-content-box:last-of-type {
  margin-bottom: 0px !important;
}

/* line 236, ../sass/style.scss */
.single-post .post-content-outer div.post-meta-bottom div.share a, footer .widget .widget-content .social_icons a {
  padding: 13px;
  width: 40px;
  font-size: 13px;
  text-align: center;
  line-height: 13px;
  border-radius: 50%;
  border: 1px solid #F0F3F4;
  color: #C2C2C2;
  display: inline-block;
  margin-right: 12px;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
}
/* line 251, ../sass/style.scss */
.single-post .post-content-outer div.post-meta-bottom div.share a:hover, footer .widget .widget-content .social_icons a:hover {
  border: none;
  background-color: #C2C2C2;
  color: #fff;
}

/* line 259, ../sass/style.scss */
.widget .widget-content.social a, .post-author .content a, #sidebar-widgets-container .widget .social-icons-colored a {
  padding: 8px 5px;
  font-size: 13.5px;
  width: 30px;
  line-height: 1em;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  transition: all, 0.5s;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .twitter, .post-author .content .twitter, #sidebar-widgets-container .widget .social-icons-colored .twitter {
  background-color: #00aced;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .facebook, .post-author .content .facebook, #sidebar-widgets-container .widget .social-icons-colored .facebook {
  background-color: #3b5998;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .google, .post-author .content .google, #sidebar-widgets-container .widget .social-icons-colored .google {
  background-color: #dd4b39;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .pinterest, .post-author .content .pinterest, #sidebar-widgets-container .widget .social-icons-colored .pinterest {
  background-color: #cb2027;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .linkedin, .post-author .content .linkedin, #sidebar-widgets-container .widget .social-icons-colored .linkedin {
  background-color: #007bb6;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .youtube, .post-author .content .youtube, #sidebar-widgets-container .widget .social-icons-colored .youtube {
  background-color: #bb0000;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .vimeo, .post-author .content .vimeo, #sidebar-widgets-container .widget .social-icons-colored .vimeo {
  background-color: #aad450;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .tumblr, .post-author .content .tumblr, #sidebar-widgets-container .widget .social-icons-colored .tumblr {
  background-color: #32506d;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .instagram, .post-author .content .instagram, #sidebar-widgets-container .widget .social-icons-colored .instagram {
  background-color: #517fa4;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .flickr, .post-author .content .flickr, #sidebar-widgets-container .widget .social-icons-colored .flickr {
  background-color: #ff0084;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .dribbble, .post-author .content .dribbble, #sidebar-widgets-container .widget .social-icons-colored .dribbble {
  background-color: #ea4c89;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .quora, .post-author .content .quora, #sidebar-widgets-container .widget .social-icons-colored .quora {
  background-color: #a82400;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .foursquare, .post-author .content .foursquare, #sidebar-widgets-container .widget .social-icons-colored .foursquare {
  background-color: #0072b1;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .forrst, .post-author .content .forrst, #sidebar-widgets-container .widget .social-icons-colored .forrst {
  background-color: #5B9A68;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .vk, .post-author .content .vk, #sidebar-widgets-container .widget .social-icons-colored .vk {
  background-color: #45668e;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .wordpres, .post-author .content .wordpres, #sidebar-widgets-container .widget .social-icons-colored .wordpres {
  background-color: #21759b;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .stumbleupon, .post-author .content .stumbleupon, #sidebar-widgets-container .widget .social-icons-colored .stumbleupon {
  background-color: #EB4823;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .yahoo, .post-author .content .yahoo, #sidebar-widgets-container .widget .social-icons-colored .yahoo {
  background-color: #7B0099;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .blogger, .post-author .content .blogger, #sidebar-widgets-container .widget .social-icons-colored .blogger {
  background-color: #fb8f3d;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .github, .post-author .content .github, #sidebar-widgets-container .widget .social-icons-colored .github {
  background-color: #7A7A7A;
}
/* line 294, ../sass/style.scss */
.widget .widget-content.social .soundcloud, .post-author .content .soundcloud, #sidebar-widgets-container .widget .social-icons-colored .soundcloud {
  background-color: #ff3a00;
}

/* line 303, ../sass/style.scss */
.widget .widget-content.social a {
  padding: 12px 11px;
  font-size: 16px;
  width: 40px;
}

/* -------------------------------------------------------------*/
/* Header */
/* -------------------------------------------------------------*/
/* line 314, ../sass/style.scss */
section#navigation, section#navigation-responsive {
  background-color: #fff;
  padding: 20px 0px;
  border-bottom: 1px solid #F2F2F2;
}
/* line 320, ../sass/style.scss */
section#navigation .col-md-12, section#navigation-responsive .col-md-12 {
  position: relative;
  /* - Logo - */
  /* - Right Panel - */
  /* - Menu - */
  /* - Search Icon - */
}
/* line 324, ../sass/style.scss */
section#navigation .col-md-12 .logo, section#navigation-responsive .col-md-12 .logo {
  float: left;
  clear: both;
}
/* line 327, ../sass/style.scss */
section#navigation .col-md-12 .logo img, section#navigation-responsive .col-md-12 .logo img {
  max-width: 50%;
  max-height: 50%;
}
/* line 334, ../sass/style.scss */
section#navigation .col-md-12 .right-panel, section#navigation-responsive .col-md-12 .right-panel {
  float: right;
  margin-top: 5px;
}
/* line 340, ../sass/style.scss */
section#navigation .col-md-12 ul, section#navigation-responsive .col-md-12 ul {
  margin: 0px;
}
/* line 344, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu, section#navigation-responsive .col-md-12 .navigation-menu {
  float: left;
}
/* line 346, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu ul li, section#navigation-responsive .col-md-12 .navigation-menu ul li {
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 35px;
}
/* line 351, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu ul li:last-of-type, section#navigation-responsive .col-md-12 .navigation-menu ul li:last-of-type {
  margin-right: 0px;
}
/* line 354, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu ul li a, section#navigation-responsive .col-md-12 .navigation-menu ul li a {
  color: #7A7A7A;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 363, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu ul li a:hover, section#navigation-responsive .col-md-12 .navigation-menu ul li a:hover {
  color: #37A8E0;
}
/* line 373, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu ul li ul, section#navigation-responsive .col-md-12 .navigation-menu ul li ul {
  position: absolute;
  top: 20px;
  z-index: 99999;
  padding: 20px 0px;
  left: -50px;
  width: 180px;
  text-align: center;
  display: none;
}
/* line 383, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu ul li ul li, section#navigation-responsive .col-md-12 .navigation-menu ul li ul li {
  background: #fff;
  border-bottom: 1px solid #F0F3F4;
  padding-bottom: 20px;
}
/* line 386, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu ul li ul li:last-of-type, section#navigation-responsive .col-md-12 .navigation-menu ul li ul li:last-of-type {
  padding-bottom: 0px;
}
/* line 390, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu ul li ul li a, section#navigation-responsive .col-md-12 .navigation-menu ul li ul li a {
  font-size: 13px;
  line-height: 1em;
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
/* line 398, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu ul li ul li:last-child a, section#navigation-responsive .col-md-12 .navigation-menu ul li ul li:last-child a {
  margin-bottom: 20px;
}
/* line 406, ../sass/style.scss */
section#navigation .col-md-12 .navigation-menu.disabled, section#navigation-responsive .col-md-12 .navigation-menu.disabled {
  display: none;
}
/* line 412, ../sass/style.scss */
section#navigation .col-md-12 .search-icon, section#navigation-responsive .col-md-12 .search-icon, section#navigation .col-md-12 #navigation-responsive .row .toggleMenu, #navigation-responsive .row section#navigation .col-md-12 .toggleMenu, section#navigation-responsive .col-md-12 .row .toggleMenu, section#navigation-responsive .row .col-md-12 .toggleMenu {
  float: right;
  margin-left: 35px;
  min-width: 30px;
}
/* line 416, ../sass/style.scss */
section#navigation .col-md-12 .search-icon i, section#navigation-responsive .col-md-12 .search-icon i, section#navigation .col-md-12 #navigation-responsive .row .toggleMenu i, #navigation-responsive .row section#navigation .col-md-12 .toggleMenu i, section#navigation-responsive .col-md-12 .row .toggleMenu i, section#navigation-responsive .row .col-md-12 .toggleMenu i {
  color: #E2E2E2;
  font-size: 20px;
  transition: all, 0.5s;
}
/* line 421, ../sass/style.scss */
section#navigation .col-md-12 .search-icon a, section#navigation-responsive .col-md-12 .search-icon a, section#navigation .col-md-12 #navigation-responsive .row .toggleMenu a, #navigation-responsive .row section#navigation .col-md-12 .toggleMenu a, section#navigation-responsive .col-md-12 .row .toggleMenu a, section#navigation-responsive .row .col-md-12 .toggleMenu a {
  transition: all, 0.5s;
}
/* line 423, ../sass/style.scss */
section#navigation .col-md-12 .search-icon a.disabled, section#navigation-responsive .col-md-12 .search-icon a.disabled, section#navigation .col-md-12 #navigation-responsive .row .toggleMenu a.disabled, #navigation-responsive .row section#navigation .col-md-12 .toggleMenu a.disabled, section#navigation-responsive .col-md-12 .row .toggleMenu a.disabled, section#navigation-responsive .row .col-md-12 .toggleMenu a.disabled {
  display: none;
  float: right;
  line-height: 1em;
}
/* line 435, ../sass/style.scss */
section#navigation form, section#navigation-responsive form {
  height: 100%;
  position: absolute;
  z-index: 0;
  right: 50px;
  top: -4px;
  width: 300px;
}
/* line 443, ../sass/style.scss */
section#navigation form input, section#navigation-responsive form input {
  width: 250px;
  background: none !important;
  border: none !important;
}
/* line 451, ../sass/style.scss */
section#navigation .disabled, section#navigation-responsive .disabled {
  display: none;
}

/* line 457, ../sass/style.scss */
#navigation-responsive {
  display: none;
}
/* line 461, ../sass/style.scss */
#navigation-responsive .row .logo-wrapper {
  width: 100%;
}
/* line 464, ../sass/style.scss */
#navigation-responsive .row .logo-wrapper .logo {
  float: left;
}
/* line 467, ../sass/style.scss */
#navigation-responsive .row .logo-wrapper .toggleMenu {
  float: right;
}
/* line 472, ../sass/style.scss */
#navigation-responsive .row .right-panel {
  text-align: left;
  margin-top: 20px !important;
}
/* line 481, ../sass/style.scss */
#navigation-responsive .row .right-panel ul li {
  text-align: left;
  border-bottom: 1px solid #F0F3F4;
}
/* line 485, ../sass/style.scss */
#navigation-responsive .row .right-panel ul li a {
  padding: 20px 0px;
}
/* line 490, ../sass/style.scss */
#navigation-responsive .row .right-panel ul li:last-of-type {
  border-bottom: 0px;
}
/* line 492, ../sass/style.scss */
#navigation-responsive .row .right-panel ul li:last-of-type a {
  padding-bottom: 0px;
}
/* line 497, ../sass/style.scss */
#navigation-responsive .row .right-panel ul li ul {
  display: block !important;
  position: relative !important;
  left: 0px !important;
  width: 100% !important;
  top: 0px !important;
  border-top: 1px solid #F0F3F4;
  padding: 0px !important;
  margin-top: 20px !important;
}
/* line 508, ../sass/style.scss */
#navigation-responsive .row .right-panel ul li ul li a {
  font-size: 13px;
  line-height: 1em;
  padding-left: 20px;
  margin-top: 0px !important;
}
/* line 519, ../sass/style.scss */
#navigation-responsive .row .toggleMenu {
  margin-left: 15px !important;
}
/* line 523, ../sass/style.scss */
#navigation-responsive .row .toggleMenu, #navigation-responsive .row .search-icon, #navigation-responsive .row .toggleMenu {
  margin-top: 3px !important;
}
/* line 525, ../sass/style.scss */
#navigation-responsive .row .toggleMenu a, #navigation-responsive .row .toggleMenu i, #navigation-responsive .row .search-icon a, #navigation-responsive .row .toggleMenu a, #navigation-responsive .row .search-icon i, #navigation-responsive .row .toggleMenu i {
  color: #898989 !important;
}
/* line 529, ../sass/style.scss */
#navigation-responsive .row .searchform {
  position: relative;
  background: #fff;
  top: 0px;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: none;
}
/* line 538, ../sass/style.scss */
#navigation-responsive .row .searchform form {
  position: relative;
  border-radius: 50px;
  width: 100%;
  left: 0px;
}
/* line 543, ../sass/style.scss */
#navigation-responsive .row .searchform form input {
  width: 100%;
  height: 100%;
  line-height: 100%;
  padding-left: 20px;
}

/* -------------------------------------------------------------*/
/* Classic Slider  */
/* -------------------------------------------------------------*/
/* line 557, ../sass/style.scss */
section#slider-classic {
  display: block;
}
/* line 560, ../sass/style.scss */
section#slider-classic .slides-container {
  position: relative;
  height: 550px;
}
/* line 6, ../sass/mixins.scss */
section#slider-classic .slides-container .flexslider-custom {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 11, ../sass/mixins.scss */
section#slider-classic .slides-container .flexslider-custom ul.slides {
  width: 100%;
  position: relative;
  height: 100%;
}
/* line 16, ../sass/mixins.scss */
section#slider-classic .slides-container .flexslider-custom ul.slides li {
  float: left;
  position: relative;
  list-style: none;
  height: 100%;
  display: none;
}
/* line 23, ../sass/mixins.scss */
section#slider-classic .slides-container .flexslider-custom ul.slides li .image {
  position: relative;
  z-index: 0;
  height: 550px;
  background-color: #f2f2f2;
}
/* line 28, ../sass/mixins.scss */
section#slider-classic .slides-container .flexslider-custom ul.slides li .image img {
  max-width: 100%;
}
/* line 33, ../sass/mixins.scss */
section#slider-classic .slides-container .flexslider-custom ul.slides li .content {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  text-align: center;
  z-index: 99;
}
/* line 41, ../sass/mixins.scss */
section#slider-classic .slides-container .flexslider-custom ul.slides li .content h3 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #fff;
}
/* line 46, ../sass/mixins.scss */
section#slider-classic .slides-container .flexslider-custom ul.slides li .content h3 a {
  color: inherit;
}
/* line 51, ../sass/mixins.scss */
section#slider-classic .slides-container .flexslider-custom ul.slides li .content a.read-more {
  font-size: 11px;
  line-height: 1em;
  color: #fff;
  margin-top: 15px;
}
/* line 64, ../sass/mixins.scss */
section#slider-classic .slides-container ul.flex-direction-nav {
  display: block;
  position: absolute;
  top: 45%;
  z-index: 999;
  width: 100%;
  left: 0px;
}
/* line 72, ../sass/mixins.scss */
section#slider-classic .slides-container ul.flex-direction-nav li {
  color: #fff;
  line-height: 1em;
  position: absolute;
}
/* line 77, ../sass/mixins.scss */
section#slider-classic .slides-container ul.flex-direction-nav li a {
  color: #fff;
  padding: 7px 14px 9px 14px;
  line-height: inherit;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  text-align: center;
}
/* line 86, ../sass/mixins.scss */
section#slider-classic .slides-container ul.flex-direction-nav li a span, section#slider-classic .slides-container ul.flex-direction-nav li a i {
  color: inherit;
  line-height: inherit;
  font-size: 12px;
}
/* line 94, ../sass/mixins.scss */
section#slider-classic .slides-container ul.flex-direction-nav li.flex-nav-prev {
  left: 70px;
}
/* line 98, ../sass/mixins.scss */
section#slider-classic .slides-container ul.flex-direction-nav li.flex-nav-next {
  right: 70px;
}

/* -------------------------------------------------------------*/
/* Masonry Intro  */
/* -------------------------------------------------------------*/
/* line 571, ../sass/style.scss */
#slider-grid {
  position: relative;
  margin-top: 50px;
  height: 500px;
}
/* line 575, ../sass/style.scss */
#slider-grid .row {
  padding: 0px 15px 0px 0px;
  margin-left: 0px;
}
/* line 580, ../sass/style.scss */
#slider-grid .col-md-4 {
  padding: 0px;
}
/* line 583, ../sass/style.scss */
#slider-grid .grid-item {
  float: left;
  width: 99.9%;
  margin-bottom: 1px;
  overflow: hidden;
  position: relative;
}
/* line 589, ../sass/style.scss */
#slider-grid .grid-item.full-height {
  height: 500px;
}
/* line 592, ../sass/style.scss */
#slider-grid .grid-item.third-height {
  height: 166px;
}
/* line 595, ../sass/style.scss */
#slider-grid .grid-item.half-height {
  height: 250px;
}
/* line 599, ../sass/style.scss */
#slider-grid .grid-item .item-image {
  background: #000;
  position: relative;
  z-index: 0;
  height: 100%;
}
/* line 605, ../sass/style.scss */
#slider-grid .grid-item .item-image img {
  opacity: 0.9;
  max-width: 130%;
  min-width: 100%;
  min-height: 100%;
}
/* line 613, ../sass/style.scss */
#slider-grid .grid-item .item-content {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 30px;
  z-index: 1;
  text-align: center;
}
/* line 620, ../sass/style.scss */
#slider-grid .grid-item .item-content .item-title {
  margin-bottom: 10px;
}
/* line 623, ../sass/style.scss */
#slider-grid .grid-item .item-content .item-title, #slider-grid .grid-item .item-content a {
  color: #fff;
}

/* -------------------------------------------------------------*/
/* Fullwidth  Intro  */
/* -------------------------------------------------------------*/
/* line 634, ../sass/style.scss */
#intro-grid-fullwidth {
  overflow: hidden;
}
/* line 637, ../sass/style.scss */
#intro-grid-fullwidth .intro-item {
  float: left;
  position: relative;
}
/* line 640, ../sass/style.scss */
#intro-grid-fullwidth .intro-item .item-image {
  position: relative;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: #3d3d3d;
}
/* line 646, ../sass/style.scss */
#intro-grid-fullwidth .intro-item .item-image img {
  opacity: 0.8;
  min-height: 100%;
  max-width: 100%;
}
/* line 652, ../sass/style.scss */
#intro-grid-fullwidth .intro-item .item-content {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  width: 70%;
  left: 40px;
}
/* line 658, ../sass/style.scss */
#intro-grid-fullwidth .intro-item .item-content .item-title, #intro-grid-fullwidth .intro-item .item-content a {
  color: #fff;
}
/* line 662, ../sass/style.scss */
#intro-grid-fullwidth .intro-item.large {
  width: 75%;
  height: 550px;
}
/* line 665, ../sass/style.scss */
#intro-grid-fullwidth .intro-item.large .item-content {
  left: 80px;
  bottom: 80px;
  width: 50%;
}
/* line 670, ../sass/style.scss */
#intro-grid-fullwidth .intro-item.large .item-content a.button, #intro-grid-fullwidth .intro-item.large .item-content .wpcf7-form a.wpcf7-submit, .wpcf7-form #intro-grid-fullwidth .intro-item.large .item-content a.wpcf7-submit {
  margin-bottom: 15px;
  float: left;
}
/* line 678, ../sass/style.scss */
#intro-grid-fullwidth .intro-item.third {
  width: 24.9%;
  height: 182.5px;
  margin-bottom: 1px;
  margin-left: 0.1%;
}

/* -------------------------------------------------------------*/
/* Blog  */
/* -------------------------------------------------------------*/
/* line 693, ../sass/style.scss */
section#blog-classic {
  margin-top: 50px;
}

/* line 697, ../sass/style.scss */
.single-post {
  margin-bottom: 50px;
}
/* line 700, ../sass/style.scss */
.single-post:last-of-type {
  margin-bottom: 0px !important;
}
/* line 704, ../sass/style.scss */
.single-post .post-media {
  height: 350px;
  overflow: hidden;
  position: relative;
  /* - Flexslider - */
  /* - inline gallery - */
}
/* line 709, ../sass/style.scss */
.single-post .post-media.post-media-image img {
  bottom: 0px;
  left: 0px;
  z-index: 0;
  position: absolute;
}
/* line 718, ../sass/style.scss */
.single-post .post-media .flexslider {
  height: inherit;
}
/* line 6, ../sass/mixins.scss */
.single-post .post-media .flexslider .flexslider-custom {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 11, ../sass/mixins.scss */
.single-post .post-media .flexslider .flexslider-custom ul.slides {
  width: 100%;
  position: relative;
  height: 100%;
}
/* line 16, ../sass/mixins.scss */
.single-post .post-media .flexslider .flexslider-custom ul.slides li {
  float: left;
  position: relative;
  list-style: none;
  height: 100%;
  display: none;
}
/* line 23, ../sass/mixins.scss */
.single-post .post-media .flexslider .flexslider-custom ul.slides li .image {
  position: relative;
  z-index: 0;
  height: 550px;
  background-color: #f2f2f2;
}
/* line 28, ../sass/mixins.scss */
.single-post .post-media .flexslider .flexslider-custom ul.slides li .image img {
  max-width: 100%;
}
/* line 33, ../sass/mixins.scss */
.single-post .post-media .flexslider .flexslider-custom ul.slides li .content {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  text-align: center;
  z-index: 99;
}
/* line 41, ../sass/mixins.scss */
.single-post .post-media .flexslider .flexslider-custom ul.slides li .content h3 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #fff;
}
/* line 46, ../sass/mixins.scss */
.single-post .post-media .flexslider .flexslider-custom ul.slides li .content h3 a {
  color: inherit;
}
/* line 51, ../sass/mixins.scss */
.single-post .post-media .flexslider .flexslider-custom ul.slides li .content a.read-more {
  font-size: 11px;
  line-height: 1em;
  color: #fff;
  margin-top: 15px;
}
/* line 64, ../sass/mixins.scss */
.single-post .post-media .flexslider ul.flex-direction-nav {
  display: block;
  position: absolute;
  top: 45%;
  z-index: 999;
  width: 100%;
  left: 0px;
}
/* line 72, ../sass/mixins.scss */
.single-post .post-media .flexslider ul.flex-direction-nav li {
  color: #fff;
  line-height: 1em;
  position: absolute;
}
/* line 77, ../sass/mixins.scss */
.single-post .post-media .flexslider ul.flex-direction-nav li a {
  color: #fff;
  padding: 7px 14px 9px 14px;
  line-height: inherit;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  text-align: center;
}
/* line 86, ../sass/mixins.scss */
.single-post .post-media .flexslider ul.flex-direction-nav li a span, .single-post .post-media .flexslider ul.flex-direction-nav li a i {
  color: inherit;
  line-height: inherit;
  font-size: 12px;
}
/* line 94, ../sass/mixins.scss */
.single-post .post-media .flexslider ul.flex-direction-nav li.flex-nav-prev {
  left: 70px;
}
/* line 98, ../sass/mixins.scss */
.single-post .post-media .flexslider ul.flex-direction-nav li.flex-nav-next {
  right: 70px;
}
/* line 724, ../sass/style.scss */
.single-post .post-media .inline-gallery {
  margin-bottom: -1px;
}
/* line 727, ../sass/style.scss */
.single-post .post-media .inline-gallery a {
  float: left;
  overflow: hidden;
  width: 33.2%;
  min-height: 175px;
  margin-right: 1px;
  margin-bottom: 1px;
}
/* line 734, ../sass/style.scss */
.single-post .post-media .inline-gallery a img {
  position: relative;
  max-height: 175px;
  max-width: none;
}
/* line 743, ../sass/style.scss */
.single-post .post-media iframe {
  width: 100%;
  height: 350px;
  border: none;
}
/* line 754, ../sass/style.scss */
.single-post.post-type-inline-gallery .post-media {
  height: auto;
}
/* line 761, ../sass/style.scss */
.single-post.post-type-quote .post-content-outer {
  padding-top: 25px;
}
/* line 765, ../sass/style.scss */
.single-post.post-type-quote .post-content-outer .quote-wrapper {
  text-align: center;
}
/* line 768, ../sass/style.scss */
.single-post.post-type-quote .post-content-outer .quote-wrapper i, .single-post.post-type-quote .post-content-outer .quote-wrapper span, .single-post.post-type-quote .post-content-outer .quote-wrapper h2 {
  text-align: center;
}
/* line 772, ../sass/style.scss */
.single-post.post-type-quote .post-content-outer .quote-wrapper i.fa {
  font-size: 20px;
  color: #C2C2C2;
  line-height: 1em;
  margin-bottom: 15px;
}
/* line 778, ../sass/style.scss */
.single-post.post-type-quote .post-content-outer .quote-wrapper .sep {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 15px;
  height: 1px;
  background-color: #F0F3F4;
}
/* line 784, ../sass/style.scss */
.single-post.post-type-quote .post-content-outer .quote-wrapper .sep.wide {
  width: 100% !important;
  margin-left: 0px !important;
}
/* line 790, ../sass/style.scss */
.single-post.post-type-quote .post-content-outer .quote-wrapper h2 {
  color: #7A7A7A;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 25px;
}
/* line 796, ../sass/style.scss */
.single-post.post-type-quote .post-content-outer .quote-wrapper span.author {
  color: #C2C2C2;
  font-size: 13px;
  line-height: 1em;
  margin-bottom: 0px;
}
/* line 807, ../sass/style.scss */
.single-post .post-content-outer {
  padding: 60px 50px 25px 50px;
}
/* line 811, ../sass/style.scss */
.single-post .post-content-outer .post-meta-top {
  margin-bottom: 20px;
}
/* line 814, ../sass/style.scss */
.single-post .post-content-outer .post-meta-top a {
  text-transform: uppercase;
  float: left;
}
/* line 818, ../sass/style.scss */
.single-post .post-content-outer .post-meta-top a:after {
  content: ',';
  padding-left: 5px;
  padding-right: 5px;
}
/* line 823, ../sass/style.scss */
.single-post .post-content-outer .post-meta-top a:nth-child(2):after {
  content: '-';
  padding: 0px 10px;
}
/* line 827, ../sass/style.scss */
.single-post .post-content-outer .post-meta-top a:last-of-type:after {
  content: '';
}
/* line 830, ../sass/style.scss */
.single-post .post-content-outer .post-meta-top a:hover {
  color: #37A8E0;
}
/* line 838, ../sass/style.scss */
.single-post .post-content-outer div.post-title {
  padding-bottom: 20px;
  position: relative;
}
/* line 842, ../sass/style.scss */
.single-post .post-content-outer div.post-title:after {
  margin-top: 10px;
  content: '';
  height: 1px;
  background-color: #e2e2e2;
  width: 100px;
}
/* line 851, ../sass/style.scss */
.single-post .post-content-outer div.post-content-inner {
  margin-bottom: 35px;
}
/* line 855, ../sass/style.scss */
.single-post .post-content-outer div.post-content-inner p img {
  height: auto;
}
/* line 859, ../sass/style.scss */
.single-post .post-content-outer div.post-content-inner div {
  max-width: 100%;
}
/* line 866, ../sass/style.scss */
.single-post .post-content-outer div.post-content-inner .gallery-size-thumbnail .gallery-item img {
  border: none;
}
/* line 873, ../sass/style.scss */
.single-post .post-content-outer div.post-meta-bottom {
  padding-top: 25px;
  border-top: 1px solid #F0F3F4;
}
/* line 878, ../sass/style.scss */
.single-post .post-content-outer div.post-meta-bottom div.read-more {
  float: left;
}
/* line 880, ../sass/style.scss */
.single-post .post-content-outer div.post-meta-bottom div.read-more a {
  float: left;
  clear: both;
}
/* line 886, ../sass/style.scss */
.single-post .post-content-outer div.post-meta-bottom div.share {
  float: right;
  margin-right: -12px;
}
/* line 894, ../sass/style.scss */
.single-post .post-content-outer div.post-meta-bottom .tagcloud {
  width: auto;
}
/* line 905, ../sass/style.scss */
.single-post.sticky-post .container-box div.post-title:after, .single-post.sticky-post .pagination a div.post-title:after, .pagination .single-post.sticky-post a div.post-title:after, .single-post.sticky-post .pagination > span div.post-title:after {
  background-color: #37A8E0;
}
/* line 909, ../sass/style.scss */
.single-post.sticky-post .container-box .post-meta-top p, .single-post.sticky-post .pagination a .post-meta-top p, .pagination .single-post.sticky-post a .post-meta-top p, .single-post.sticky-post .pagination > span .post-meta-top p {
  text-transform: uppercase;
  float: left;
  color: #37A8E0;
  margin-right: 10px;
  margin-bottom: 0px;
}

/* line 923, ../sass/style.scss */
.pagination {
  text-align: center;
  margin: 0px -5px 0px 0px;
}
/* line 927, ../sass/style.scss */
.pagination a, .pagination > span {
  padding: 19px 22px;
  font-size: 12px;
  line-height: 1em;
  transition: background-color, 0.5s;
  display: inline-block;
  margin-right: 5px;
}
/* line 937, ../sass/style.scss */
.pagination a:hover, .pagination a:active, .pagination a.active, .pagination a.current, .pagination > span:hover, .pagination > span:active, .pagination > span.active, .pagination > span.current {
  color: #fff;
  background-color: #37A8E0;
}
/* line 940, ../sass/style.scss */
.pagination a:hover i, .pagination a:active i, .pagination a.active i, .pagination a.current i, .pagination > span:hover i, .pagination > span:active i, .pagination > span.active i, .pagination > span.current i {
  color: #fff !important;
}
/* line 946, ../sass/style.scss */
.pagination a.has_icon .fa, .pagination > span.has_icon .fa {
  color: #C2C2C2;
  font-size: 10px;
  margin-top: 2px;
  opacity: 0.5;
}
/* line 952, ../sass/style.scss */
.pagination a.has_icon .fa-chevron-left, .pagination > span.has_icon .fa-chevron-left {
  float: left;
  margin-right: 8px;
}
/* line 956, ../sass/style.scss */
.pagination a.has_icon .fa-chevron-right, .pagination > span.has_icon .fa-chevron-right {
  float: right;
  margin-left: 8px;
}

/* -------------------------------------------------------------*/
/* Grid Blog  */
/* -------------------------------------------------------------*/
/* line 970, ../sass/style.scss */
#blog-classic.grid-blog .posts-container .row .grid-posts-wrapper div[class^="col-md"] {
  margin-bottom: 30px;
}
/* line 973, ../sass/style.scss */
#blog-classic.grid-blog .single-post {
  margin-bottom: 30px;
}
/* line 975, ../sass/style.scss */
#blog-classic.grid-blog .single-post .post-title h2 a {
  font-size: 24px;
}
/* line 980, ../sass/style.scss */
#blog-classic.grid-blog .single-post.post-type-image .post-media, #blog-classic.grid-blog .single-post.post-type-gallery .post-media {
  height: 250px;
}
/* line 982, ../sass/style.scss */
#blog-classic.grid-blog .single-post.post-type-image .post-media img, #blog-classic.grid-blog .single-post.post-type-gallery .post-media img {
  max-height: 100%;
  max-width: 150%;
}
/* line 990, ../sass/style.scss */
#blog-classic.grid-blog .single-post .flex-direction-nav .flex-nav-next {
  right: 20px !important;
  bottom: 20px;
}
/* line 995, ../sass/style.scss */
#blog-classic.grid-blog .single-post .flex-direction-nav .flex-nav-prev {
  right: 50px !important;
  bottom: 20px;
}
/* line 1000, ../sass/style.scss */
#blog-classic.grid-blog .single-post .flex-direction-nav a {
  border: none;
}
/* line 1005, ../sass/style.scss */
#blog-classic.grid-blog .single-post .share {
  display: block;
}
/* line 1007, ../sass/style.scss */
#blog-classic.grid-blog .single-post .share a {
  padding: 0px;
  margin-right: 20px;
  border: none;
  width: auto;
}
/* line 1014, ../sass/style.scss */
#blog-classic.grid-blog .single-post .share a:hover {
  background: none !important;
  color: inherit;
}
/* line 1026, ../sass/style.scss */
#blog-classic.grid-blog .single-post.post-type-inline-gallery .inline-gallery a {
  width: 33.3%;
  margin: 0px;
  overflow: hidden;
  height: 100px;
  min-height: 0px;
}

/* -------------------------------------------------------------*/
/* Single Post  */
/* -------------------------------------------------------------*/
/* line 1050, ../sass/style.scss */
.post-content-inner .blockquote {
  padding: 30px 0px;
  border-top: 1px solid #F0F3F4;
  border-bottom: 1px solid #F0F3F4;
}
/* line 1056, ../sass/style.scss */
.post-content-inner .blockquote .icon {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  width: 50px;
  position: relative;
  margin-top: 30px;
}
/* line 1063, ../sass/style.scss */
.post-content-inner .blockquote .icon i {
  font-size: 30px;
  line-height: 1em;
  color: #C2C2C2;
}
/* line 1072, ../sass/style.scss */
.post-content-inner .blockquote .content {
  margin-left: 100px;
}
/* line 1074, ../sass/style.scss */
.post-content-inner .blockquote .content p {
  font-size: 30px;
  line-height: 1.3em;
  color: #C2C2C2;
  font-weight: 300;
}
/* line 1080, ../sass/style.scss */
.post-content-inner .blockquote .content span.author {
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1em;
  color: #C2C2C2;
  float: left;
  margin-top: 10px;
}
/* line 1093, ../sass/style.scss */
.post-content-inner .images-gallery.custom-grid-section {
  margin-left: -2%;
  float: left;
}
/* line 1096, ../sass/style.scss */
.post-content-inner .images-gallery.custom-grid-section > div {
  float: left;
  margin-left: 2%;
}
/* line 1099, ../sass/style.scss */
.post-content-inner .images-gallery.custom-grid-section > div.grid-half {
  width: 48%;
  overflow: hidden;
}
/* line 1104, ../sass/style.scss */
.post-content-inner .images-gallery.custom-grid-section > div .grid-third {
  width: 30.3%;
}
/* line 1108, ../sass/style.scss */
.post-content-inner .images-gallery.custom-grid-section img {
  height: auto !important;
}

/* line 1118, ../sass/style.scss */
.post-author .author-image {
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
/* line 1125, ../sass/style.scss */
.post-author .author-image img {
  max-width: none;
  min-height: 100%;
  max-height: 100%;
}
/* line 1133, ../sass/style.scss */
.post-author .content {
  margin-left: 240px;
  margin-top: 10px;
}
/* line 1137, ../sass/style.scss */
.post-author .content .widget-title {
  float: none;
  clear: none;
  margin-bottom: 25px;
}
/* line 1144, ../sass/style.scss */
.post-author .content .social-icons-colored {
  margin-top: 15px;
}

/* line 1151, ../sass/style.scss */
#comments .single-comment {
  border-bottom: 1px solid #F0F3F4;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
/* line 1158, ../sass/style.scss */
#comments .single-comment:last-of-type {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none !important;
}
/* line 1164, ../sass/style.scss */
#comments .single-comment .sub-comments {
  border-top: 1px solid #F0F3F4;
  padding-top: 40px;
  margin-top: 40px;
  margin-left: 10%;
  width: 90%;
}
/* line 1172, ../sass/style.scss */
#comments .single-comment .sub-comments .sub-comments {
  width: 100%;
  margin-left: 0px;
}
/* line 1177, ../sass/style.scss */
#comments .single-comment > .avatar {
  float: left;
  width: 20%;
}
/* line 1180, ../sass/style.scss */
#comments .single-comment > .avatar .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 1185, ../sass/style.scss */
#comments .single-comment > .avatar .img img {
  max-height: 100%;
  max-width: 100%;
}
/* line 1192, ../sass/style.scss */
#comments .single-comment .comment-content {
  float: left;
  width: 75%;
  margin-left: 5%;
}
/* line 1197, ../sass/style.scss */
#comments .single-comment .comment-content h5 a {
  text-transform: uppercase;
  float: left;
  margin-bottom: 0px;
  font-weight: bold;
}
/* line 1204, ../sass/style.scss */
#comments .single-comment .comment-content span.meta {
  font-size: 12px;
  color: #C2C2C2;
  line-height: 1em;
  margin: 0px;
}
/* line 1211, ../sass/style.scss */
#comments .single-comment .comment-content div.content {
  margin-top: 20px;
}
/* line 1216, ../sass/style.scss */
#comments .single-comment .comment-content .button, #comments .single-comment .comment-content .wpcf7-form .wpcf7-submit, .wpcf7-form #comments .single-comment .comment-content .wpcf7-submit {
  float: left;
  clear: both;
  margin-top: 15px;
}

/* line 1227, ../sass/style.scss */
#comments .box-title, #reply-form .box-title {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #F0F3F4;
}
/* line 1233, ../sass/style.scss */
#comments .box-title h4, #reply-form .box-title h4 {
  line-height: 1em;
  margin: 0px;
}

/* line 1242, ../sass/style.scss */
.comments-form input, .comments-form textarea {
  float: left;
  clear: both;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
/* line 1250, ../sass/style.scss */
.comments-form input[type="text"], .comments-form input[type="email"], .comments-form textarea {
  width: 60%;
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}
/* line 1256, ../sass/style.scss */
.comments-form input[type="text"]:focus, .comments-form input[type="email"]:focus, .comments-form textarea:focus {
  border-bottom: 1px solid #37A8E0;
}
/* line 1259, ../sass/style.scss */
.comments-form textarea {
  min-height: 160px;
  width: 100%;
}
/* line 1264, ../sass/style.scss */
.comments-form p {
  clear: both;
}

/* -------------------------------------------------------------*/
/* Shortcodes  */
/* -------------------------------------------------------------*/
/* line 1274, ../sass/style.scss */
div.shortcode-accordion .item {
  margin-bottom: 10px;
}
/* line 1277, ../sass/style.scss */
div.shortcode-accordion .item > a {
  background: #f6f6f6;
  padding: 10px 20px;
  border-radius: 1px;
}
/* line 1284, ../sass/style.scss */
div.shortcode-accordion .item .content {
  padding-left: 20px;
  padding-top: 20px;
}
/* line 1289, ../sass/style.scss */
div.shortcode-accordion .item .content li {
  margin-bottom: 10px;
}
/* line 1291, ../sass/style.scss */
div.shortcode-accordion .item .content li:before {
  content: '•';
  opacity: 0.3;
  margin-right: 10px;
}

/* -------------------------------------------------------------*/
/* Sidebar  */
/* -------------------------------------------------------------*/
/* line 1306, ../sass/style.scss */
#sidebar-widgets-container .widget {
  background: #fff;
  margin-bottom: 50px;
  padding: 35px;
  border-bottom: 1px solid #E2E2E2;
}
/* line 1316, ../sass/style.scss */
#sidebar-widgets-container .widget .social-icons-colored {
  margin-top: 5px;
}

/* - Poluar Posts - */
/* line 1329, ../sass/style.scss */
.widget {
  /* - Instagram - */
  /* - Social - */
  /* - Custom list - */
}
/* line 1330, ../sass/style.scss */
.widget .user-content {
  margin-top: 20px;
}
/* line 1335, ../sass/style.scss */
.widget .widget-content.popular-posts .post {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #F0F3F4;
}
/* line 1341, ../sass/style.scss */
.widget .widget-content.popular-posts .post a {
  display: block;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  color: #4D4D4D;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.53em;
}
/* line 1350, ../sass/style.scss */
.widget .widget-content.popular-posts .post a span {
  color: #C2C2C2;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  line-height: 1em;
  text-transform: none;
  margin-top: -2px;
  float: left;
}
/* line 1359, ../sass/style.scss */
.widget .widget-content.popular-posts .post a span.comments {
  margin-left: 20px;
  display: none;
}
/* line 1366, ../sass/style.scss */
.widget .widget-content.popular-posts .post .post-img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f7f7f7;
}
/* line 1373, ../sass/style.scss */
.widget .widget-content.popular-posts .post .post-img img {
  max-width: none;
  max-height: 100%;
}
/* line 1380, ../sass/style.scss */
.widget .widget-content.popular-posts .post a:not(.post-img) {
  margin-left: 100px;
}
/* line 1384, ../sass/style.scss */
.widget .widget-content.popular-posts .post:last-of-type {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
/* line 1397, ../sass/style.scss */
.widget .widget-content .instagram a {
  width: 95px;
  height: 95px;
  float: left;
  background-color: #f7f7f7;
  margin-right: 1px;
  margin-bottom: 1px;
  overflow: hidden;
  transition: opacity, 0.5s;
}
/* line 1407, ../sass/style.scss */
.widget .widget-content .instagram a img {
  max-width: none;
  max-height: 100%;
}
/* line 1418, ../sass/style.scss */
.widget .widget-content.social a {
  margin-bottom: 10px;
}
/* line 1424, ../sass/style.scss */
.widget ul.custom-list {
  margin-top: -15px;
}
/* line 1427, ../sass/style.scss */
.widget ul.custom-list li {
  padding: 15px 0px;
  border-bottom: 1px solid #F0F3F4;
}
/* line 1431, ../sass/style.scss */
.widget ul.custom-list li:last-of-type {
  border-bottom: 0px;
  padding-bottom: 0px;
}
/* line 1435, ../sass/style.scss */
.widget ul.custom-list li a {
  float: left;
  line-height: 1em;
  margin-top: 5px;
}
/* line 1441, ../sass/style.scss */
.widget ul.custom-list li span.count {
  float: right;
  border-radius: 50%;
  border: 1px solid #F0F3F4;
  padding: 8px 7px;
  font-size: 10px;
  line-height: 1em;
  color: #C2C2C2;
  min-width: 28px;
  text-align: center;
}

/* line 1456, ../sass/style.scss */
.widget .tagcloud a {
  font-size: 11px !important;
  line-height: 1em !important;
}

/* -------------------------------------------------------------*/
/* Footer  */
/* -------------------------------------------------------------*/
/* line 1464, ../sass/style.scss */
footer {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 50px;
}
/* line 1474, ../sass/style.scss */
footer .widget .widget-content .social_icons {
  margin-top: 20px;
}

/* line 1485, ../sass/style.scss */
.twitter-feed-container .tweet {
  margin-bottom: 15px;
}
/* line 1488, ../sass/style.scss */
.twitter-feed-container .tweet:after {
  content: '';
  margin-top: 15px;
  width: 40px;
  height: 1px;
  background-color: #F0F3F4;
}
/* line 1496, ../sass/style.scss */
.twitter-feed-container .tweet:last-child {
  margin-bottom: 0px;
}
/* line 1498, ../sass/style.scss */
.twitter-feed-container .tweet:last-child:after {
  display: none;
}
/* line 1503, ../sass/style.scss */
.twitter-feed-container .tweet a {
  float: left;
}
/* line 1505, ../sass/style.scss */
.twitter-feed-container .tweet a.special-link {
  margin-right: 4px;
  color: #37A8E0;
}
/* line 1511, ../sass/style.scss */
.twitter-feed-container .tweet div.meta {
  margin-top: 10px;
}
/* line 1514, ../sass/style.scss */
.twitter-feed-container .tweet div.meta i, .twitter-feed-container .tweet div.meta span {
  color: #C2C2C2;
  line-height: 1em;
}
/* line 1518, ../sass/style.scss */
.twitter-feed-container .tweet div.meta span {
  font-size: 12px;
  float: left;
  line-height: 16px;
}
/* line 1523, ../sass/style.scss */
.twitter-feed-container .tweet div.meta i.fa {
  margin-right: 10px;
  font-size: 16px;
  float: left;
}

/* line 1533, ../sass/style.scss */
.tagcloud {
  margin-right: -10px;
}
/* line 1536, ../sass/style.scss */
.tagcloud a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 13px 20px;
  border-radius: 50px;
  color: #999999;
  background-color: #F2F2F2;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1em;
  font-weight: normal;
  transition: all, 0.5s;
}
/* line 1549, ../sass/style.scss */
.tagcloud a:hover {
  background-color: #37A8E0;
  color: #fff;
}

/* -------------------------------------------------------------*/
/* Animation  */
/* -------------------------------------------------------------*/
/* line 1559, ../sass/style.scss */
.post-title a, .navigation-menu a {
  transition: color, 0.5s;
}

/* line 1562, ../sass/style.scss */
.faded {
  transition: opacity, 0.5s;
  opacity: 0.5;
}

/* -------------------------------------------------------------*/
/* Form  */
/* -------------------------------------------------------------*/
/* line 1570, ../sass/style.scss */
#navigation .searchform form, #navigation-responsive .searchform form, .widget-content form {
  background: #f1f1f1;
  border-radius: 100px;
  height: 45px;
  float: left;
  clear: both;
}

/* line 1577, ../sass/style.scss */
#navigation .searchform input[type="text"], #navigation-responsive .searchform input[type="text"], .widget-content form input[type="text"] {
  line-height: 43px;
  padding: 0px 20px;
  background: none;
  border: none;
}

/* line 1587, ../sass/style.scss */
.wpcf7-form input[type=text], .wpcf7-form input[type=email] {
  width: 70%;
}
/* line 1590, ../sass/style.scss */
.wpcf7-form textarea {
  width: 100%;
  margin-bottom: 20px;
}
/* line 1594, ../sass/style.scss */
.wpcf7-form .wpcf7-submit {
  outline: none;
  border: none;
}
/* line 1600, ../sass/style.scss */
.wpcf7-form .wpcf7-not-valid-tip {
  font-size: 12px;
}

/* -------------------------------------------------------------*/
/* Wordpress Default Elements Style  */
/* -------------------------------------------------------------*/
/* line 1614, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
/* line 1623, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner caption, .single-post .post-content-outer .post-content-inner td, .single-post .post-content-outer .post-content-inner th {
  border: 1px solid #f3f3f3;
  font-weight: normal;
  text-align: center;
  padding: 3px;
}
/* line 1630, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner dl {
  margin-bottom: 1.6em;
}
/* line 1634, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner dt {
  font-weight: bold;
}
/* line 1638, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner dd {
  margin-bottom: 1.6em;
}
/* line 1644, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner ul {
  list-style: disc;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 5px;
}
/* line 1652, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner ul ul, .single-post .post-content-outer .post-content-inner ol ol {
  padding-left: 20px;
  margin: 0px 0px 0px 0px;
}
/* line 1657, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner li {
  float: left;
  clear: both;
  width: 100%;
  margin: 5px 0px;
}
/* line 1664, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner ul li {
  list-style: disc !important;
  list-style-position: inside !important;
}
/* line 1669, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner address,
.single-post .post-content-outer .post-content-inner pre,
.single-post .post-content-outer .post-content-inner hr {
  margin-bottom: 10px;
}
/* line 1676, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner address {
  font-style: italic;
}
/* line 1681, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner pre {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
  line-height: 1.2;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 0.8em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* line 1698, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
  cursor: help;
}
/* line 1704, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner mark,
.single-post .post-content-outer .post-content-inner ins {
  background-color: #fff9c0;
  text-decoration: none;
}
/* line 1710, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner sup,
.single-post .post-content-outer .post-content-inner sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 1719, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner sup {
  bottom: 1ex;
}
/* line 1723, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner sub {
  top: .5ex;
}
/* line 1727, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner small {
  font-size: 75%;
}
/* line 1731, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner big {
  font-size: 125%;
}
/* line 1736, ../sass/style.scss */
.single-post .post-content-outer .post-content-inner hr {
  background-color: #eaeaea;
  background-color: rgba(51, 51, 51, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 1.6em;
}

/* line 1748, ../sass/style.scss */
.widget-content select {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 5px;
}
/* line 1755, ../sass/style.scss */
.widget-content img {
  min-height: auto;
  height: auto;
}
/* line 1760, ../sass/style.scss */
.widget-content form select {
  border: none;
  margin-top: 12px !important;
  float: left;
  clear: both;
  width: 90% !important;
  margin-left: 5%;
}
/* line 1771, ../sass/style.scss */
.widget-content #calendar_wrap table {
  border-collapse: separate;
  border-spacing: 2px;
  border-width: 0px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
/* line 1779, ../sass/style.scss */
.widget-content #calendar_wrap table caption, .widget-content #calendar_wrap table td, .widget-content #calendar_wrap table th {
  border-bottom: 1px solid #f0f0f0;
  font-weight: normal;
  text-align: center;
  padding: 10px;
  line-height: 1em;
}
/* line 1787, ../sass/style.scss */
.widget-content #calendar_wrap table #prev, .widget-content #calendar_wrap table #next {
  padding-top: 20px;
}
/* line 1790, ../sass/style.scss */
.widget-content #calendar_wrap table #prev {
  text-align: left;
}
/* line 1793, ../sass/style.scss */
.widget-content #calendar_wrap table #next {
  text-align: right;
}
/* line 1797, ../sass/style.scss */
.widget-content #calendar_wrap table caption {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
}
/* line 1809, ../sass/style.scss */
.widget-content li.page_item {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 5px;
  list-style: disc;
  list-style-position: inside;
}
/* line 1820, ../sass/style.scss */
.widget-content #recentcomments .recentcomments {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 5px;
}
/* line 1826, ../sass/style.scss */
.widget-content #recentcomments .recentcomments span, .widget-content #recentcomments .recentcomments span a {
  color: #37A8E0;
}
/* line 1833, ../sass/style.scss */
.widget-content ul.instagram-pics li {
  list-style: none;
  float: left;
  width: 95px;
  background-color: #f7f7f7;
  margin-right: 1px;
  margin-bottom: 1px;
  overflow: hidden;
  transition: opacity, 0.5s;
}

/* -------------------------------------------------------------*/
/* Responsive  */
/* -------------------------------------------------------------*/
/* Mediaquery */
@media (min-width: 1024px) and (max-width: 1200px) {
  /* - Grid Intro - */
  /* line 11, ../sass/responsive.scss */
  #slider-grid {
    height: auto;
  }
  /* line 15, ../sass/responsive.scss */
  #slider-grid .col-xs-6 .grid-item {
    width: 99.7%;
  }
  /* line 17, ../sass/responsive.scss */
  #slider-grid .col-xs-6 .grid-item img {
    max-width: none;
    max-height: 150%;
  }
}
@media (max-width: 990px) {
  /* - Navigation - */
  /* line 32, ../sass/responsive.scss */
  #navigation, #navigation-responsive {
    display: none;
  }

  /* line 36, ../sass/responsive.scss */
  #navigation-responsive {
    display: block !important;
  }
  /* line 38, ../sass/responsive.scss */
  #navigation-responsive .right-panel {
    display: none;
  }

  /* - Grid Intro - */
  /* line 46, ../sass/responsive.scss */
  #slider-grid {
    height: auto;
  }
  /* line 49, ../sass/responsive.scss */
  #slider-grid .col-xs-6:last-of-type {
    width: 100%;
  }
  /* line 51, ../sass/responsive.scss */
  #slider-grid .col-xs-6:last-of-type .half-height {
    width: 49.86%;
    margin-right: 1px;
  }

  /* - Intro - */
  /* line 61, ../sass/responsive.scss */
  #intro-grid-fullwidth .intro-item.large {
    width: 100%;
    float: none;
    position: relative;
  }
  /* line 65, ../sass/responsive.scss */
  #intro-grid-fullwidth .intro-item.large .item-content {
    left: 40px;
  }
  /* line 70, ../sass/responsive.scss */
  #intro-grid-fullwidth .intro-item.third {
    width: 33.333%;
    margin: 0px;
  }

  /* - Posts - */
  /* line 79, ../sass/responsive.scss */
  .post-media .inline-gallery a {
    width: 33.19% !important;
  }

  /* - Sidebar - */
  /* line 89, ../sass/responsive.scss */
  section.content-wrapper.single-post-page .posts-container {
    margin-bottom: 50px !important;
  }

  /* line 93, ../sass/responsive.scss */
  .pagination {
    margin-bottom: 50px;
  }

  /* line 97, ../sass/responsive.scss */
  .widget-content.about-me img {
    max-width: 300px;
    float: left;
    margin-right: 20px;
  }
  /* line 102, ../sass/responsive.scss */
  .widget-content.about-me p.user-content, .widget-content.about-me .social-icons-colored {
    float: right;
  }

  /* - Footer - */
  /* line 109, ../sass/responsive.scss */
  footer .widgets-container > div {
    margin-bottom: 50px;
    float: left;
    clear: both;
    width: 100%;
  }
}
/* - Ipad Landscape - */
/* - Iphone Landscape - */
@media (max-width: 640px) {
  /* - Intro - */
  /* line 135, ../sass/responsive.scss */
  #intro-grid-fullwidth img {
    max-width: none !important;
    max-height: 100%;
  }
  /* line 140, ../sass/responsive.scss */
  #intro-grid-fullwidth .intro-item.large .item-content {
    width: 80% !important;
  }

  /* - Grid Intro - */
  /* line 148, ../sass/responsive.scss */
  #slider-grid {
    height: auto;
  }
  /* line 150, ../sass/responsive.scss */
  #slider-grid img {
    max-width: none !important;
    max-height: 150% !important;
  }
  /* line 154, ../sass/responsive.scss */
  #slider-grid .col-xs-6:last-of-type {
    width: 100%;
  }
  /* line 156, ../sass/responsive.scss */
  #slider-grid .col-xs-6:last-of-type .half-height {
    width: 49.81%;
    margin-right: 1px;
  }

  /* - Slider - */
  /* line 168, ../sass/responsive.scss */
  #slider-classic li img {
    max-width: none !important;
    max-height: 100%;
  }
  /* line 173, ../sass/responsive.scss */
  #slider-classic li .content {
    width: 60% !important;
    left: 20% !important;
  }
  /* line 179, ../sass/responsive.scss */
  #slider-classic .flex-direction-nav .flex-nav-next {
    right: 20px !important;
    top: 0px;
  }
  /* line 183, ../sass/responsive.scss */
  #slider-classic .flex-direction-nav .flex-nav-prev {
    left: 20px !important;
    top: 0px;
  }

  /* - Blog - */
  /* line 194, ../sass/responsive.scss */
  .post-type-image .post-media img, .post-type-gallery .post-media img {
    max-width: 550px !important;
    max-height: none !important;
  }

  /* - Comments - */
  /* line 204, ../sass/responsive.scss */
  #comments .single-comment .comment-content {
    width: 70%;
    margin-left: 10%;
  }
  /* line 209, ../sass/responsive.scss */
  #comments .single-comment .single-comment .comment-content {
    width: 65%;
    margin-left: 15%;
  }
}
/* - Portrait - */
@media (max-width: 480px) {
  /* - Navigation - */
  /* line 232, ../sass/responsive.scss */
  #navigation-responsive .logo-wrapper .logo {
    max-width: 60%;
  }

  /* - Intro - */
  /* line 240, ../sass/responsive.scss */
  #intro-grid-fullwidth .intro-item.large .item-content {
    width: 80% !important;
  }
  /* line 244, ../sass/responsive.scss */
  #intro-grid-fullwidth .intro-item.third {
    width: 100%;
  }

  /* - Grid Intro - */
  /* line 250, ../sass/responsive.scss */
  #slider-grid {
    height: auto;
  }
  /* line 253, ../sass/responsive.scss */
  #slider-grid .col-md-4 {
    width: 100%;
  }
  /* line 255, ../sass/responsive.scss */
  #slider-grid .col-md-4 .full-height {
    height: 300px;
  }
  /* line 258, ../sass/responsive.scss */
  #slider-grid .col-md-4 .half-height {
    width: 100% !important;
    margin-right: 0px;
  }

  /* - Slider - */
  /* line 269, ../sass/responsive.scss */
  #slider-classic li .content {
    width: 80% !important;
    left: 10% !important;
  }
  /* line 274, ../sass/responsive.scss */
  #slider-classic .flex-direction-nav {
    top: 30% !important;
  }
  /* line 276, ../sass/responsive.scss */
  #slider-classic .flex-direction-nav .flex-nav-next {
    right: 100px !important;
    top: 0px;
  }
  /* line 280, ../sass/responsive.scss */
  #slider-classic .flex-direction-nav .flex-nav-prev {
    left: 100px !important;
    top: 0px;
  }

  /* - Blog - */
  /* line 288, ../sass/responsive.scss */
  .post-title h2 {
    font-size: 26px;
    line-height: 1.3em;
  }

  /* line 294, ../sass/responsive.scss */
  .post-meta-bottom .read-more a {
    margin-bottom: 10px;
  }
  /* line 298, ../sass/responsive.scss */
  .post-meta-bottom .share {
    margin-top: 10px;
    margin-bottom: -10px;
    clear: both;
  }
  /* line 302, ../sass/responsive.scss */
  .post-meta-bottom .share a {
    margin-bottom: 10px;
  }

  /* - Inline gallery - */
  /* line 312, ../sass/responsive.scss */
  .single-post.post-type-inline-gallery .post-media .inline-gallery {
    height: auto;
  }
  /* line 314, ../sass/responsive.scss */
  .single-post.post-type-inline-gallery .post-media .inline-gallery a {
    width: 32% !important;
    margin-right: 0.3%;
    min-height: none;
    height: 100px;
    min-height: 0px !important;
  }

  /* - Quote - */
  /* line 326, ../sass/responsive.scss */
  .blockquote {
    width: 100%;
    float: left;
    clear: both;
  }
  /* line 330, ../sass/responsive.scss */
  .blockquote .icon {
    width: 100%;
    text-align: left;
    margin: 0px 0px 10px 0px !important;
  }
  /* line 336, ../sass/responsive.scss */
  .blockquote .content {
    float: left;
    clear: both;
    width: 100%;
    text-align: left;
    margin: 0px !important;
  }

  /* line 346, ../sass/responsive.scss */
  #post-author .content {
    float: left;
    clear: both;
    width: 100%;
    margin: 30px 0px 0px 0px;
  }

  /* line 356, ../sass/responsive.scss */
  #comments .single-comment .comment-content {
    float: left;
    clear: both;
    width: 100% !important;
    margin: 30px 0px 0px 0px !important;
  }
  /* line 362, ../sass/responsive.scss */
  #comments .single-comment .single-comment, #comments .single-comment .sub-comments {
    float: left;
    clear: both;
    width: 100% !important;
    margin-left: 0px !important;
  }

  /* line 372, ../sass/responsive.scss */
  #reply-form input[type=text], #reply-form input[type=email], #reply-form textarea {
    width: 100%;
    font-size: 13px;
  }
  /* line 376, ../sass/responsive.scss */
  #reply-form form p {
    font-size: 13px;
  }

  /* - Pagination - */
  /* line 382, ../sass/responsive.scss */
  .pagination {
    margin-bottom: 45px;
  }
  /* line 384, ../sass/responsive.scss */
  .pagination a {
    margin-bottom: 5px;
  }

  /* - Widgets - */
  /* line 391, ../sass/responsive.scss */
  .widget-content.popular-posts span.date {
    margin-bottom: 5px;
  }

  /* line 397, ../sass/responsive.scss */
  .widget-content.instagram a {
    width: 49% !important;
  }

  /* line 402, ../sass/responsive.scss */
  .instagram-pics li {
    width: 49% !important;
  }

  /* line 407, ../sass/responsive.scss */
  .widget-content.about-me img {
    max-width: 100%;
  }
}
