
@font-face {
  font-family: 'Edmondsans-Medium';
  src: url('Edmondsans-Medium.eot?#iefix') format('embedded-opentype'),  url('Edmondsans-Medium.woff') format('woff'), url('Edmondsans-Medium.ttf')  format('truetype'), url('Edmondsans-Medium.svg#Edmondsans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
