
@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),  url('AvenirNextLTPro-Demi.woff') format('woff'), url('AvenirNextLTPro-Demi.ttf')  format('truetype'), url('AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}
